.loading_div{
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
   background: black;
   z-index: 10000;
   opacity: 0.7;
}


.loading_img {
  margin-top: 20%;
}



.ngdialog,.ngdialog-overlay {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  overflow: auto;
}

.erMsg {
   color: red;
   font-size: 13px;
   font-style: italic;
   margin-left: 6px;
}
/*.popup_1 {
  max-width: 300px;
  min-width: 250px;
  min-height: 250px;
  overflow-y: auto;
  right: 20px;
  top: 30px;
  box-shadow: 1px 1px 16px 1px grey;
  max-height: 600px;
  position: absolute;
  background: #fff;
  z-index: 100;
}
.ngdialog-overlay {
  background: rgba(0,0,0,.4);
  top: 0;
  right: 0;
  -webkit-backface-visibility: hidden;
  -webkit-animation: ngdialog-fadein .5s;
  animation: ngdialog-fadein .5s;
}

.ngdialog.ngdialog-closing .ngdialog-overlay {
  -webkit-backface-visibility: hidden;
  -webkit-animation: ngdialog-fadeout .5s;
  animation: ngdialog-fadeout .5s;
}

.ngdialog-close:before {
  font-family: Helvetica,Arial,sans-serif;
  content: '\00D7';
  cursor: pointer;
}

.ngdialog.ngdialog-theme-plain .ngdialog-close:before {
  background: 0 0;
  color: #bbb;
  content: "\00D7";
  font-size: 26px;
  font-weight: 400;
  height: 30px;
  line-height: 26px;
  position: absolute;
  right: 10px;
  text-align: center;
  top: 10px;
  width: 30px;
}

.ngdialog-close {
  cursor: pointer;
}

.ngdialog-theme-plain {
  z-index: 1000 !important
}
*/

.ngdialog-content{
	background: none !important;
}


.ngdialog-close:before {
	display: none;
}

/*.modal-backdrop{
  z-index:0 !important;
}*/
.supplier_name{
  width:15%;
}
.warehouse_name{
  width:25%;
}
.shipping_address{
  width:30%;
}
.ship_via{
  width:10%;
}
.amount_paid{
  width:70%;
}
.order_status{
  width:100%;
}
.total_amount{
  width:70%;
}

.outstanding_amount{
  width:70%;
}

.isa_info {
    color: #00529B;
    background-color: #BDE5F8;
}
.isa_success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.isa_warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.isa_error {
    color: #D8000C;
    background-color: #FFBABA;
}.table-responsive {
    min-height: 0.01%;
    overflow-x: auto;
     overflow-y: visible;
}

.hline {height:500px; width:0px; position:relative; border-left:1px solid gray;}

.table.set_width {
  max-width: 1500px;
  table-layout: auto;
  width: 1500px;
}

.set_width_col{min-height: 300px;}

.set_width_col .angucomplete-dropdown {
    height: 180px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.strike {
    text-decoration: line-through;
}
/*.table.set_width td.class_name{}*/


.note.note-info {
    background-color: #f5f8fd;
    border-color: #8bb4e7;
    color: #010407;
}
.note {
    border-left: 5px solid #eee;
    border-radius: 0 4px 4px 0;
    margin: 0 0 20px;
    padding: 15px 30px 15px 15px;
}

.highlight_tag{
  background-color:#000;
  color:white;
  padding:5px;
}
.bg_completed{
background-color:#4fc198 !important;
}


.style_picker{
	margin-left: 14px !important;
	width: 283px !important;
}

.ng-table th{
  text-align: left !important;
}
.ta-editor {
  min-height: 300px;
  height: auto;
  overflow: auto;
  font-family: inherit;
  font-size: 100%;
}
