*{
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
	text-rendering: optimizeLegibility !important;
	/* Keyword values */

	font-smooth: always;
}

body{
	background: #edf1f5;
	font-size: 14px;
	color: #4e4e4e;
	font-family: 'Helvetica Neue';
	overflow: hidden;
}

ul, li{
	list-style: none;
	margin: 0;
	padding: 0;
}

a{
	color: #525252;
	text-decoration: none;
}

a:hover, a:focus{
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
	margin: 0;
	line-height:  normal;
}

img{
	border: none;
	max-width: 100%;
}

html, body, .wrapper, .app-content{
	height: 100%;
}

/* input checkbox */

.input-checkbox input[type="checkbox"],
.input-radio input[type="radio"]{
	position: absolute;
	opacity: 0;
	visibility: hidden;
}

.input-checkbox input[type="checkbox"] + label,
.input-radio input[type="radio"] + label{
	display: block;
	position: relative;
	cursor: pointer;
	padding: 5px 0px 5px 17px;
	font-weight: normal;
	font-size: 13px;
}

.input-checkbox input[type="checkbox"] + label:before{

	font-family: 'FontAwesome';
	position: absolute;
	left:0;
	top: 5px;
	content: "\f096";
}

.input-checkbox input[type="checkbox"]:checked + label:before{
	content: "\f046";
}

.input-radio input[type="radio"] + label:before{
	font-family: 'FontAwesome';
	position: absolute;
	left:0;
	top: 5px;
	content: "\f10c";
}

.input-radio input[type="radio"]:checked + label:before{
	content: "\f192";
}

/* buttons */

.btn-primary{
	background: #1e2331;
	border-color: #1e2331;
}

.btn-primary:hover,
.btn-primary:focus{
	background: #151a27;
}

.btn-success{
	background: #4fc198;
	border-color: #4fc198;
}

.btn-success:hover,
.btn-success:focus{
	background: #42b58c;
}

/* Margins */

.mt-5{
	margin-top: 5px;
}

.mt-10{
	margin-top: 10px;
}

.mt-15{
	margin-top: 15px;
}

.mt-20{
	margin-top: 20px;
}

.mt-25{
	margin-top: 25px;
}

.mt-30{
	margin-top: 30px;
}

.mb-5{
	margin-bottom: 5px;
}

.mb-10{
	margin-bottom: 10px;
}

.mb-15{
	margin-bottom: 15px;
}

.mb-20{
	margin-bottom: 20px;
}

.mb-25{
	margin-bottom: 25px;
}

.mb-30{
	margin-bottom: 30px;
}

/* search */

.input-search{
	position: relative;
}

.input-search input[type="text"]{
	background: #fff;
	border-radius:5px;
	position: relative;
	padding-right: 30px;
}

.input-search:after{
	position: absolute;
	right: 8px;
	top: 10px;
	font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	content:"\f002";
	z-index: 5;
}

.button-group .btn{
	margin:0 7px;
	padding: 7px 20px;
}


legend{
	color: #4FC199;
}

/* table icons */

table .tabicon{
	font-weight: bold;
}

table .btn,
table button{
	/*background: none;*/
	border: none;
	cursor: pointer;
	outline: none;
}

table .alert{
	margin: 0;
}

/* modal */

modal{
	 display: none;
}

modal .modal{
	/* modal container fixed across whole screen */
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	/* z-index must be higher than .modal-background */
	z-index: 1000;

	/* enables scrolling for tall modals */
	overflow: auto;
}
modal .modal .modal-body {
	padding: 20px;
	background: #fff;

	/* margin exposes part of the modal background */
	margin: 40px;
}

modal .modal-background {
	/* modal background fixed across whole screen */
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	/* semi-transparent black  */
	background-color: #000;
	opacity: 0.75;

	/* z-index must be below .modal and above everything else  */
	z-index: 900;
}

.modal-open {
    /* body overflow is hidden to hide main scrollbar when modal window is open */
    overflow: hidden;
}

/* panel */

.panel{
	box-shadow: none;
}

.panel-head{
	border-radius: 5px 5px 0 0;
	background: #ececec;
	padding: 15px;
	box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.24);
	border: solid 1px #cecece;
	border-bottom: none;
}

.panel-body{
	background: #fff;
	box-shadow: 0 1px 2px rgba(0,0,0,0.24);
	border-radius:5px 5px 5px 5px;
	border: solid 1px #e6e2e2;
}

.pane-head + .panel-body{
	border-radius:0px 0px 5px 5px;
}

.panel-body h4{
	margin-bottom: 15px;
	padding-bottom: 15px;
}

/* text */

.text-success{
	color: #4fc198;
}

.text-blue{
	color: #17bdc9;
}

.text-warning{
	color: #ffa73b;
}

.text-danger{
	color: #f96557;
}

/* cells */

.table-box{
	display: table;
}

.cell-1{
	display: table-cell;
	width: 8.33333333%;
}

.cell-2{
	display: table-cell;
	width: 16.66666667%;
}

.cell-3{
	display: table-cell;
	width: 25%;
}

.cell-4{
	display: table-cell;
	width: 33.33%;
}

.cell-5{
	display: table-cell;
	width: 41.66666667%;
}

.cell-6{
	display: table-cell;
	width: 50%;
}

.cell-7{
	display: table-cell;
	width: 58.33333333%;
}

.cell-8{
	display: table-cell;
	width: 66.66666667%;
}

.cell-9{
	display: table-cell;
	width: 75%;
}

.cell-10{
	display: table-cell;
	width: 83.33333333%;
}

.cell-11{
	display: table-cell;
	width: 91.66666667%;
}

.cell-12{
	display: table-cell;
	width: 100%;
}

/* app content in */

.app-content-in{
	height: 100%;
}
