
@media(min-width: 1441px){
	.white-box .whitebox-midstrip {
		margin: 13.2% 0;
	}
}

@media(max-width: 1700px) and (min-width: 1500px){
	.white-box .whitebox-midstrip {
		margin: 15.2% 0;
	}
}	

@media(max-width: 1701px) and (min-width: 3201px){
	.white-box .whitebox-midstrip {
		margin: 10.4% 0;
	}
}
 

@media(min-width: 3200px){
	.white-box .whitebox-midstrip {
		margin: 7.4% 0;
	}
}



@media(min-width: 981px){
	.leftside-close .sidebar{
		white-space: nowrap;
		width: 52px;
		overflow: visible;
		font-size: 0;
	}
	
	.leftside-close .sidebar a{
		
		padding-right: 0;
		padding-left: 50px;
		height: 41px;
	}

	.leftside-close .sidebar a span,
	.leftside-close .sidebar a .dropicon{
		opacity: 0;
		visibility: hidden;
		transition: all 0.4s ease-in;
		padding: 15px 10px;
		display: block;
		min-width:120px;
	}
	
	.leftside-close .sidebar li:hover > a > span{
		position: absolute;
		left: 100%;
		top:0;
		min-height:100%;
		opacity: 1;
		visibility: visible;
		
		
		background: #1e2331;
	}
	
	.leftside-close .sidebar a .sideicon{
		font-size: 14px;
	}
	
	.leftside-close .sidebar .dropdown > a {
		 padding-right: 0; 
	}
	
	.leftside-close .app-content{
		 margin-left: 60px;
	}
}

@media(max-width: 1290px){
	.white-box .whitebox-midstrip {
		margin: 11% 0;
	}
}

@media(max-width: 1200px){
	.white-box .whitebox-midstrip {
		margin: 7% 0;
	}
}

@media(max-width: 980px){
.sidebar{
	white-space: nowrap;
	width: 52px;
	overflow: visible;
	font-size: 0;
}

.sidebar a{
	padding-right: 0;
	padding-left: 50px;
	height: 41px;
}

.sidebar a span,
.sidebar a .dropicon{
	opacity: 0;
	visibility: hidden;
	white-space: nowrap;
	padding: 15px 10px;
		display: block;
		min-width:120px;
}

.sidebar li:hover > a > span{
	position: absolute;
	left: 100%;
	top:0;
	min-height:100%;
	opacity: 1;
	visibility: visible;
	
	
	background: #1e2331;
}

.sidebar a .sideicon{
	font-size: 14px;
	top: 7px;
}

.sidebar .dropdown > a {
 	padding-right: 0; 
}
 

.app-content{
 	margin-left: 60px;
}

.responsive-table thead{
	display: none;`
}

.responsive-table td{
	display: block;
	clear: both;
	text-align: right;
}

.responsive-table td:before{
	content: attr(data-label);
	display: block;
	font-weight: bold;
	float: left;
}
}

@media(max-width: 767px){
	.white-box{
		margin-bottom: 15px;
	}
	
	.inventroy-head .input-search{
		max-width: none;
		float: none;
		margin-bottom:20px;
	}
	
	.channel-strip{
		height: 45px;
	}
	
	.channel-strip .channel-cell{
		font-size: 14px;
		padding: 10px;
	}
	
	.channel-strip .channel-cell .channelicon{
		font-size: 50px;
		line-height: normal;
	}
	
	.channel-strip .channel-cell:first-child{
		width: 25%;
	}
	
	.channel-strip .channel-cell:last-child{
		width: 40%;
	}
}

@media(max-width: 500px){
	.white-box .graystrip{
		display: block
	}
	
	.white-box .graystrip [class^="cell-"], .white-box .graystrip [class*="cell-"]{
		display: inline-block;
		vertical-align: top;
		width: 48%;
	}
	
	.purchaseorder,
	.totalcost{
		text-align: center;
	}
	
	.rightside-open .sidebar{
		left: -54px
	}
	
	.rightside-open .app-content{
		margin-left: 5px;
	}
	
	.inventory-bottom .pagination{
		margin-top: 15px;
	}
	
	.channel-strip{
		height: auto;
		display: block;
		margin-bottom: 15px;
	}
	
	.channel-strip .channel-cell{
		font-size: 14px;
		padding: 10px;
		width: 100%;
		display: block;
		text-align: center;
	}
	
	.channel-strip .channel-cell:first-child{
		width: 100%;
	}
	
	.channel-strip .channel-cell:last-child{
		width: 100%;
	}
}

@media(max-width: 390px){
	
	header .navbar-brand{
		padding-left: 0
	}
	
	header .togglebtn{
		display: none;
	}
	
	.header-content {
		margin-left: 152px;
	}
	
	.right-sidebar{
		width: 140px;
		right: -138px;
	}
	
	.rightside-open .app-content {
		 
		margin-right: 143px;
	}
	
	.right-sidebar .fa{
		display: none;
	}
	
	.purchaseorder,
	.totalcost{
		width: 100%;
	}
	
	.inventroy-head .btn{
		font-size: 12px;
		margin-bottom: 5px;
	}
	
	.inventroy-head .btn [class^="flaticon-"]{
		display: none;
	}
}