header{
	background: #18A1B9;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	    z-index: 15;
}

.header-content{
	margin-left: 180px;
	position: relative;
}

header .togglebtn{
	background: none;
	border: none;
	box-shadow: none;
	margin-top: 6px;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}

header .togglebtn:focus{
	box-shadow: none;
	outline: none;
}

header .userpic{
	border-radius: 50%;
	height: 45px;
	width: 45px;
	position: relative;
	border: solid 3px #fff;
	overflow: hidden;
	display: inline-block;
	margin-right: 0px;
	vertical-align: bottom;
	cursor: pointer;
	margin-top: 2px;
}

header .userpic img{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	max-width: 100%;
	display: block;
	cursor: pointer;
}

header .righticon{
	display: inline-block;
	color: #fff;
	font-size: 22px;
	vertical-align: middle;
    position: relative;
    top: -4px;
}

/* left sidebar */

.sidebar{
	width: 200px;
	position: fixed;
	overflow: auto;
	bottom: 0;
	left: 0;
	height: calc(100% - 50px);
	background: #1e2331;
	color: #fff;
	transition: all 0.4s ease-in;
	z-index: 50;
}

.sidebar li{
	border-bottom: solid 1px #2f3443;
}

.sidebar a{
	color: #fff;
	display: block;
	padding: 10px 15px 10px 45px;
	color: #fff;
	font-size: 14px;
	border-bottom: solid 1px #161b29;
	position: relative;

}

.sidebar a span{
	transition: all 0.4s ease-in;
}

.sidebar a + ul{
	border-top: solid 1px #2f3443;
	 -moz-transition: max-height 0.4s ease-in 0.1s;
    -webkit-transition: max-height 0.4s ease-in 0.1s;
    -o-transition: max-height 0.4s ease-in 0.1s;
    transition: max-height 0.4s ease-in 0.1s;
    display: none;
}


.sidebar a .sideicon{
	font-size: 14px;
	position: absolute;
	left: 20px;
	top: 12px;
	transition: all 0.4s ease-in 0.1s;
}

.sidebar .dropdown > a{
	padding-right: 20px;
}

.sidebar .dropdown .dropicon{
	position: absolute;
	right: 10px;
	top: 16px;
	transition: all 0.4s ease-in 0.1s;
	transform: rotateZ(-90deg);
}

.sidebar .dropdown.dropdownopen a > .dropicon{
	transform: rotateZ(0deg);
}

.sidebar li:hover > a,
.sidebar li.active > a{
	background: #18A1B9;
	border-color: #18A1B9;
}



/* right sidebar */

.right-sidebar{
	position: fixed;
	right: -170px;
	height: calc(100% - 50px);
	bottom: 0;
	background: #fff;
	box-shadow: -1px 0 1px rgba(0,0,0,0.05);
	width: 173px;
	border-left: solid 3px #fff;
	transition: all 0.4s ease-in;
	z-index:2;
}

.right-sidebar > div{
	height: 100% !important;
}

.rightside-menus{
	height: 100% !important;
	background: #fff;
}

.panel-group .panel{
	border-radius: 0;
	box-shadow: none;
	border: none;
	border-bottom: solid 1px #efefef;


}

.right-sidebar .panel-default>.panel-heading{
	border-radius: 0;
	background: #fff;
	box-shadow: none;
	color: #5c5c5c;
}

.right-sidebar .panel-group .panel+.panel{
	margin-top: 0;
}

.rightfilter-btn{
	position: absolute;
	left:-41px;
	background: #18A1B9;
    border: solid 1px #3dab83;
    border-radius: 0;
    top: 6px;
    box-shadow: -1px 0 1px rgba(0,0,0,0.05);
    color: #fff;
}

.rightfilter-btn:hover{
	color:  #fff;
	background: #42b58c;
}

.rightside-open .sidebar{
	white-space: nowrap;
	width: 52px;
	overflow: visible;
	font-size: 0;
}

.rightside-open .sidebar a{

	padding-right: 0;
	padding-left: 50px;
	height: 41px;
}

.rightside-open .sidebar a span,
.rightside-open .sidebar a .dropicon{
	opacity: 0;
	visibility: hidden;
	white-space: nowrap;
}

.rightside-open .sidebar a .sideicon{
	font-size: 14px;
}

.rightside-open .sidebar .dropdown > a {
	 padding-right: 0;
}

.rightside-open .app-content{
	 margin-left: 60px;
	 margin-right: 183px;
}

.rightside-open .right-sidebar{
	right: 0;
}


.app-content{
	margin-left: 220px;
	margin-right: 3px;
	height: calc(100% - 50px);
	position: relative;
	margin-top: 50px;
	overflow: auto;
	transition: all 0.4s ease-in;
	z-index:1;
}

.app-content > div,
.app-content .app-content-in{
	width: 100% !important;


}

.app-content .breadcrumb{
	padding-left: 0;
	font-size: 15px;
	background: none;
	color: #4e4e4e;
	margin: 10px 0;
}

.inventroy-head{
	border-radius: 5px 5px 0 0;
	background: #ececec;
	padding: 15px;
	box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.24);
	border: solid 1px #cecece;
	border-bottom: none;
}

.inventroy-head .input-search{
	float: left;
	width: 100%;
	max-width: 35%
}

.inventroy-head .btn{
	float: right;
	margin-left: 10px;
}

.inventroy-head .btn:last-child{
	margin-left: 0;
}

.inventory-body{
	background: #fff;
	box-shadow: 0 1px 2px rgba(0,0,0,0.24);
	border-radius:0 0 5px 5px;
	border: solid 1px #e6e2e2;
}

.inventory-body table tbody th{
	border-left: solid 1px #e3e3e3;
	color: #4e4e4e;
	font-weight; bold;
}

.inventory-body table .text-center{
	text-align: center;
}

.inventory-body table td > figure{
	height: 25px;
	width: 25px;
	display: inline-block;
	margin-right: 10px;
	position: relative;
	border: solid 1px #e9e9e9;
	background: #e9e9e9;
	vertical-align: middle;
}

.inventory-body table td > figure img{
	max-width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	margin: autol
}

.inventory-bottom{
	padding: 15px;
}

.entrynum_list{
	float: left;
}

.entrynum_list select{
	width: 160px;
	display: inline-block;
	margin: 0 20px;
}

.inventory-bottom .pagination{
	margin: 0;
}

.inventory-bottom .pagination a{
	color: #4f4f4f;
}

.channel-strip{
	display: table;
	margin-bottom: 30px;
	height: 90px;
	border:solid 1px #ededed;
	border-radius: 5px;
	width: 100%;
	box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.24);
}

.channel-strip .channel-cell{
	display: table-cell;
	width: 33%;
	padding:10px 20px;
	vertical-align: middle;
	font-size: 20px;
}

.channel-strip .channel-cell .channelicon{
	font-size: 100px;
	line-height: 80px;
}

.channel-strip .channel-cell a{
	color: #0089ff;
}
/* dashboard */

.dashboard-wrap{
	margin-left: -15px;
	margin-top: 20px;
}

.white-box {
    background: #fff;
    padding:10px 15px;
    margin-bottom: 30px;
    border: solid 1px #e4e4e4;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.06)
}

.dashboard-wrap .white-box .icon{
	font-size: 50px;
}

.dashboard-wrap .white-box span{
	margin-top:10px;
	display: block;
	text-transform: uppercase;
	color: #959595;
}

.dashboard-wrap .white-box h3{
	font-size: 20px;
	text-transform: uppercase;
	color: #000;
	margin-bottom: 25px;
}

.white-box .whitebox-midstrip{
	margin:14.2% 0;
}

.white-box .graystrip{
	 border-top: solid 1px #e4e4e4;
	 border-bottom: solid 1px #e4e4e4;
	width: 100%;
	background: #fbfbfb;
	color: #000;
	font-size: 18px;
}

.white-box .graystrip [class^="cell-"],
.white-box .graystrip [class*="cell-"]{
	padding:12px;
}

.white-box .graystrip label{
	font-size: 14px;
	text-transform: uppercase;
}

.dashboardgraph{
	max-width: 620px;
}
/* login page */

.loginwrapper{
	background: rgba(0,0,0,0.45) url(../images/loginbackground.jpg) no-repeat top center;
	background-size: cover;
	height: 100%;
	display: flex;
  align-items: center;
  justify-content: center;
}

.loginform{
	color: #18A1B9;
	background: #fff;
	padding:30px 20px 20px;
	max-width: 358px;
	float: none;
	margin: 20px auto;
	width: 120%;
}

.loginform h3{
	font-weight: 600;
	margin-bottom: 33px;
}

.loginform .form-group{
	margin-bottom: 0px;
}

.loginform input[type="email"]{
	background: url(../images/icon-user.png) no-repeat #fff;
}

.loginform input[type="password"]{
	background: url(../images/icon-lock.png) no-repeat #fff;
}

.loginform input[type="email"],
.loginform input[type="password"]{
	padding-left: 0;
	background-position:  9px 3px;
	border: none;
	border-bottom: solid 1px #bebdbb;
	font-size: 1.28em;
	letter-spacing: 0.05em;
	font-weight: 300;
	height: auto;
	box-shadow: none;
}

.loginform .form-group .error{
	height: 1.143em;  /* 16px */
	text-align: left;
	padding-left: 49px;
	color: #da0000;
	line-height: 1.143em;  /* 16px */
}

.loginform-in button{
	background: #18A1B9;
	color: #fff;
	font-size: 1em; /* 14px */
	border: solid 1px #5fb5ac;
	border-radius: 2px;
	cursor: pointer;
	transition: all 0.4s ease-in;
	width: 100%;
	padding: 13px 13px;
	font-weight: 600;
	text-transform: uppercase;
	font-family: 'Helvetica Neue';
	font-size: 24px;;
}

.loginform-in .loginbtnwrap{
	margin: 10px 0 15px;
}

.loginform-in button:hover,
.loginform-in button:focus{
	background:#58a59d;
	box-shadow: none;
	border-color: #58a59d;
}

.forgetpassword{
	font-size: 1.429em; /* 20px */
	margin: 26px 0 11px;
}

.loginmid-left{
	margin-top: 32px;
	margin-bottom: 30px;
}

/*.style_picker{
	margin-left: -72px !important;
	width: 283px !important;
}*/

#example2 th {
    text-align: left;
}
/*
select option:empty { display:none }*/
.graphdiv{
	    float: right;
    margin: 0px 0px 10px 0px;
}
