<!DOCTYPE html>
<html ng-app="pricingLogin">
<head>
<title>Pricing Easy</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Latest compiled and minified Plugins and Framework CSS -->
<link rel="stylesheet" type="text/css" href="font/stylesheet.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<!-- Custom Style -->
<link rel="stylesheet" type="text/css" href="css/reset.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
<link rel="stylesheet" type="text/css" href="css/responsive.css" />
<link rel="stylesheet" type="text/css" href="css/angular-toastr.css" />

<!-- Latest compiled and minified JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.js"></script>
<script type="text/javascript" src="js/angular-base64.js"></script>
<script type ="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/ui-bootstrap-tpls-2.5.0.js"></script>
<script src="js/angular-animate.js"></script>
<script type="text/javascript" src="js/angular-ui-router.min.js"></script>
<script src="js/angular-toastr.tpls.js" type="text/javascript"></script>
<script type="text/javascript" src="modules/admin/controller.js"></script>
<script type="text/javascript" src="modules/admin/adminService.js"></script>
<script type="text/javascript" src="js/adminParentController.js"></script>
</head>
<body>
<section class="wrapper">
    <div class="loginwrapper">
      <div class="loginform">
        <h3>SIGN IN</h3>
        <div class="loginform-in">
        <form name="adminForm">
            <div class="form-group">
              <input type="email" name="email" class="form-control" placeholder="Username" ng-model="admin.username" required/>
             <!--  <span class="erMsg" ng-show="adminForm.email.$dirty && adminForm.email.$invalid">
              <span ng-show="adminForm.email.$error.required">Email is required.</span>
              <span ng-show="adminForm.email.$error.email">Invalid email address.</span>
              </span> -->
            </div>
            <div class="form-group">
                <input type="password" name="password" class="form-control" placeholder="Password" ng-model="admin.password" ng-minlength="6" ng-maxlength="15" required/>
            <!--     <span class="erMsg" ng-show="adminForm.password.$dirty && adminForm.password.$invalid">
                <span ng-show="adminForm.password.$error.required">Password is required.</span>
                <span ng-show="adminForm.password.$error.minlength">Password is too short.</span>
                </span> -->


            </div>
            <div class="form-group loginbtnwrap">
                <button  class="btn btn-success uppercase" ng-click="adminLogin(admin)">Sign IN</button>
            </div>
            <div class="forgetpassword text-center"><a ui-sref="forgotPassword">Forgot Password?</a></div>
         <div class="text-center">
          <input type="checkbox" name="remember" ng-checked="remember" ng-model="remember"> &nbsp; Remember Me
            </div>
            </form>
        </div>
      </div>
    </div>
</section>
</body>
</html>
