<!DOCTYPE html>
<html ng-app="pricingAdmin">
<head>
<title>Pricing Easy</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Latest compiled and minified Plugins and Framework CSS -->
<link rel="stylesheet" type="text/css" href="font/stylesheet.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

<!-- Custom Style -->
<link rel="stylesheet" type="text/css" href="css/reset.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
<link rel="stylesheet" type="text/css" href="css/responsive.css" />
<link rel="stylesheet" type="text/css" href="css/custom.css" />
<link rel="stylesheet" type="text/css" href="css/angular-toastr.css" />
<!-- Latest compiled and minified JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="js/Chart.min.js"></script>
<script src="js/jqlite.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.js"></script>
<script type="text/javascript" src="js/angular-base64.js"></script>
<script type ="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/ui-bootstrap-tpls-2.5.0.js"></script>
<script type="text/javascript" src="js/moment.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular-animate.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular-sanitize.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.js"></script>
<script type="text/javascript" src="js/ng-table.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/1.0.1/js/ngDialog.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/1.0.1/css/ngDialog.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.3/FileSaver.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ng-table/1.0.0/ng-table.css">
<script src="js/angular-toastr.tpls.js" type="text/javascript"></script>
<script src="js/angular-file-upload.js"></script>
<script type="text/javascript" src="modules/admin/controller.js"></script>
<script type="text/javascript" src="modules/admin/adminService.js"></script>
<script type="text/javascript" src="js/adminParentController.js"></script>

<!-- google angular chart js -->
<script src="js/angular-chart.js" type="text/javascript"></script>
<!-- angular js plugins -->
<script src="js/ngSlimscroll.js" type="text/javascript"></script>
</head>
<body ng-controller="adminParentController" ng-class="[{'leftside-close': leftside_close}, {'rightside-open': rightside_open}]">
<section class="wrapper" ng-cloak>
  <!-- <header class="app-header" ng-include="'includes/admin/header.html'" scope="" onload=""></header>
  <aside class="sidebar" ng-include="'includes/admin/sidebar.html'" scope="" onload=""></aside> -->
  <div ui-view="header" ng-cloak>
  </div>
  <div ui-view="sidebar" ng-cloak>
  </div>
  <!-- <aside class="right-sidebar" ng-include="'includes/right-sidebar.html'" scope="" onload=""></aside> -->
  <div class="app-content clearfix" ng-cloak>
    <ui-view></ui-view>
  </div>
</section>


  <div class="modal fade" id="viewUserDetails" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">User Details</h4>
        </div>
        <div class="modal-body">
          <table border="0" width="100%" class="table table table-striped">
            <tr>
                <th>User Name</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Role</th>
                <th>Status
            </tr>
            <tr>
              <td>{{data.username}}</td>
              <td>{{data.first_name}}</td>
              <td>{{data.last_name}}</td>
              <td>{{data.role}}</td>
              <td>{{data.status}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

 <div class="modal fade" id="viewsubAdminDetails" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><strong>Sub-Admin Details</strong></h4>
        </div>
        <div class="modal-body">
          <table border="0" width="100%" class="table table table-striped">
            <tr>
                <th>User Name</th>
                <th>Email</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
            <tr>
              <td>{{subAdminInfo.username}}</td>
              <td>{{subAdminInfo.email}}</td>
              <td>{{subAdminInfo.first_name}}</td>
              <td>{{subAdminInfo.last_name}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
