
<div class="loginform">
<div class="text-center">
<h3>Forgot Password</h3>
</div>
<div class="loginform-in">
<form name="forgetPassform">
    <div class="form-group">
        <input type="email" class="form-control" placeholder="Email" ng-model="login.email" name="email" required/>
        <span class="errMsg" ng-show="forgetPassform.email.$dirty || forgetPassform.email.$invalid">
        <span ng-show="forgetPassform.email.$error.required">Email is required.</span>
        <span ng-show="forgetPassform.email.$error.email">Invalid email address.</span>
        </span>
    </div>
    <div class="form-group loginbtnwrap">
        <button type="submit" ng-click="validateUser(login)" ng-disabled="forgetPassform.$invalid||forgetPassform.$pristine">Send</button>
    </div>
<div class="forgetpassword"><a ui-sref="login">Back to login</a></div>
</form>
</div>
</div>
</div>

<style>
 .errMsg{
  color: red;
 }
</style>