

<div class="loginform">
<div class="text-center">
  <h3>SIGN IN</h3>
</div>  
  <div class="loginform-in">
  <form name="loginForm">
      <div class="form-group">
        <input type="email" name="email" class="form-control" placeholder="Email" ng-model="login.username" required/>
        <span class="errMsg" ng-show="loginForm.email.$dirty && loginForm.email.$invalid">
        <span ng-show="loginForm.email.$error.required">Email is required.</span>
        <span ng-show="loginForm.email.$error.email">Invalid email address.</span>
        </span>
      </div>
      <div class="form-group">
          <input type="password" name="password" class="form-control" placeholder="Password" ng-model="login.password" ng-minlength="6" ng-maxlength="15" required/>
          <span class="errMsg" ng-show="loginForm.password.$dirty && loginForm.password.$invalid">
          <span ng-show="loginForm.password.$error.required">Password is required.</span>
          <span ng-show="loginForm.password.$error.minlength">Password is too short.</span>
          </span>


      </div>
      <div class="form-group loginbtnwrap">
          <button type="submit" class="btn btn-success uppercase" ng-click="submitLogin(login)" ng-disabled="loginForm.$invalid">Sign IN</button>

      </div>
      <div class="forgetpassword text-center"><a ui-sref="forgotPassword">Forgot Password?</a></div>
      <div class="text-center">
    <input type="checkbox" name="remember" ng-checked="remember" ng-model="remember"> &nbsp; Remember Me
      </div>

      </form>
  </div>
</div>

<style>
 .errMsg{
  color: red;
 }
</style>