<div class="loginform text-center">
  <h3>Reset your password</h3>
  <div class="loginform-in">
      <div class="form-group">
          <input type="password" class="form-control" placeholder="Password" ng-model="obj.password"/>
          <div class="error"></div>
      </div>
      <div class="form-group">
          <input type="password" class="form-control" placeholder="Confirm Password" ng-model="obj.confirm_password" />
          <div class="error"></div>
      </div>
      <div class="form-group loginbtnwrap">
          <button type="submit" ng-click="resetPassword(obj)">Save</button>
      </div>
  </div>
</div>
