<div class="dashboard-wrap">
	<div class="clearfix">
    	<div class="col-lg-3 col-md-6">
    	<div class="white-box clearfix">
        	<div class="pull-left text-success"><i class="flaticon-graph icon"></i></div>
            <div class="pull-right text-right">
            	<span>Dummy Value 1</span>
                <h2>{{total_price | currency}}</h2>
            </div>
        </div>
    </div>
    	<div class="col-lg-2 col-md-6">
    	<div class="white-box clearfix">
        	<div class="pull-left text-blue"><i class="flaticon-percentage icon"></i></div>
            <div class="pull-right text-right">
            	<span>Dummy Value 2</span>
                <h2>{{netProfit | currency}}</h2>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-6">
        <div class="white-box clearfix">
            <div class="pull-left text-blue"><i class="flaticon-percentage icon"></i></div>
            <div class="pull-right text-right">
                <span>Dummy Value 3</span>
                <h2>{{margin}}%</h2>
            </div>
        </div>
    </div>
    	<div class="col-lg-2 col-md-6">
    	<div class="white-box clearfix">
        	<div class="pull-left text-warning"><i class="flaticon-cash-machine icon"></i></div>
            <div class="pull-right text-right">
            	<span>Dummy Value 4</span>
                <h2>{{orderStatus}}</h2>
            </div>
        </div>
    </div>
    	<div class="col-lg-2 col-md-6">
    	<div class="white-box clearfix">
        	<div class="pull-left text-danger"><i class="flaticon-warning icon"></i></div>
            <div class="pull-right text-right">
            	<span>Dummy Value 5</span>
                <h2>{{lowstock}}</h2>
            </div>
        </div>
    </div>
    </div>
</div>
