<header class="app-header" scope="" onload="">
<div class="container-fluid">
    <div class="navbar-brand">
        <a href="#"><img src="images/logo.png" alt="Main Logo" /></a>
    </div>
    <div class="header-content clearfix">
        <button class="togglebtn pull-left" ng-click="leftbar_close()">
            <i class="flaticon-left-alignment" aria-hidden="true"></i>
        </button>
        <div class="pull-right" uib-dropdown>
            <figure class="userpic" uib-dropdown-toggle><img src="images/userimg.png" alt="" /></figure>
            <i class="flaticon-more righticon"></i>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="simple-dropdown">
                <li role="menuitem"><a ui-sref="profile"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Profile</a></li>
                <li ng-show = "loginUser.designation == 'SuperAdmin'" role="menuitem"><a ui-sref="AddAdmin"><i class="fa fa-plus" aria-hidden="true"></i></i> Add Admin</a></li>
                <li ng-show = "loginUser.designation == 'SuperAdmin'" role="menuitem"><a ui-sref="adminList"><i class="fa fa-th-list" aria-hidden="true"></i></i> Show Admin</a></li>
                <li class="divider"></li>
                <li role="menuitem" ><a  ng-click="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i> Log Out</a></li>
            </ul>
        </div>

    </div>
</div>
</header>
