<aside class="sidebar" scope="" onload="">
<ul>
	<li>
		<a ui-sref="admin_dashboard">
			<i class="sideicon flaticon-menu"></i><span ui-sref="admin_dashboard">Dashboard</span>
		</a>
	</li>
	<li>
			<a ui-sref="user">
        		<i class="sideicon flaticon-list"></i><span>Users</span>
      </a>
	</li>


	<li>
			<a ui-sref="amazon_referral_fee">
	        	<i class="sideicon flaticon-list"></i> <span>Amazon Referral Fee</span>
	    </a>
	</li>
	<li>
		<a ui-sref="amazon_shipping"><i class="sideicon flaticon-shopping-bag"></i><span>Amazon Shipping Credits</span></a>
	</li>
	<li>
		<a ui-sref="ebayFees"><i class="sideicon flaticon-graph" ></i><span ui-sref="ebayFees">ebay Fees</span></a>
	</li>
	<li>
	   <a ui-sref="ebayUpgradeFees"><i class="sideicon flaticon-graph"></i><span ui-sref="ebayUpgradeFees">ebay Upgrade Fees</span></a>
	</li>
	<li class="dropdown">
		<a ui-sref="subscription_plan" drop-menus><i class="sideicon flaticon-calculator"></i><span>Subscription Plans</span>
        	<i class="dropicon fa fa-angle-down"></i>
        </a>
         <ul class="dropdown-list">
			<li ui-sref-active="active">
				<a  ui-sref="pcamazone"><i class="sideicon flaticon-amazon"></i><span>Amazon</span></a>
			</li>
            <li ui-sref-active="active">
				<a ui-sref="pcebay"><i class="sideicon flaticon-ebay"></i><span>Ebay</span></a>
			</li>
            <li>
				<a href="#"><i class="sideicon flaticon-shopify"></i><span>Shopify</span></a>
			</li>

		</ul>
	</li>
    	<li class="dropdown">
		<a href="javascript:void(0);" drop-menus>
			<i class="sideicon flaticon-settings"></i><span> Setting</span>
			<i class="dropicon fa fa-angle-down"></i>
		</a>
		<ul>
			<li>
				<a ui-sref="adminList"><i class="sideicon flaticon-list"></i><span>Admin</span></a>
			</li>

		</ul>
	</li>
</ul>
</aside>
