<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header"></div>
        <div class="modal-body">
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{obj.progress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{obj.progress}}%">
                    <span class="sr-only">{{obj.progress}}% Complete</span>
                </div>
            </div>
            <!-- <input type="file" name="files" ng-model="obj.files" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" class="form-control mb-20"> -->
        </div>
        <div class="modal-footer">
            <!-- <button ng-click="uploadCatalog()" class="btn btn-success">upload</button> -->
            <button ng-if="obj.progress==100" class="btn btn-default ngdialog-close">Close</button>
        </div>
    </div>
</div>
