<ol class="breadcrumb">
  <li><a ui-sref="dashboard">Dashboard</a></li>
  <li class="active">Subscription</li>
</ol>
<div class="inventroybox" ng-init="getSubscriptions()">
    <!-- Content Header (Page header) -->
    <div class="inventroy-head clearfix" ng-if="!obj.addSupplier">
        <div class="input-search">
            <input type="text" class="form-control" ng-model="obj.inventorysearch" placeholder="Search..." my-enter="getSubscriptions('search')" />

        </div>
        <button class="btn btn-default" ng-click="getSubscriptions()" ng-click="obj.addSupplier = true" style="float:left">Reset</button>
        <!-- <button class="btn btn-default" ng-click="obj.addSupplier = true"><b>+</b> Add New</button> -->
    </div>
    <!-- Main content -->
    <section class="content" ng-if="!obj.addSupplier">
      <div class="inventory-body clearfix table-responsive">
        <form role="form" class="inventory-body clearfix table-responsive" ng-init="num_listitem = '10'">
            <table id="example1" ng-table="tableParams" class="table table-condensed table-striped">

                    <tr ng-repeat="row in $data | limitTo: num_listitem | filter: inventorysearch" ng-form="rowForm">
                        <td title="'Name'" filter="{fullName: 'text'}" sortable="'fullName'">
                            <span class="editable-text">{{row.user_id.fullName}}</span>
                        </td>
                        <td title="'Email'" filter="{email: 'text'}" sortable="'email'" >
                            <span class="editable-text">{{row.user_id.email}}</span>
                        </td>
                        <td title="'Phone'" filter="{phoneNumber: 'text'}" sortable="'phoneNumber'">
                            <span class="editable-text">{{row.user_id.phoneNumber || 'NA'}}</span>
                        </td>
                        <td title="'Subscription Price'" filter="{language.name: 'text'}" sortable="'language.name'">
                            <span class="editable-text">{{row.subscription_price}}</span><span ng-if="row.plan_id == 'Free'">({{row.plan_id}})</span>
                        </td>
                        <td title="'Status'">
                            <span class="editable-text">{{row.status}}</span>
                        </td>
                        <td title="'Listed Date'" filter="{language.name: 'text'}" sortable="'language.name'">
                            <span class="editable-text">{{row.listed_date | date}}</span>
                        </td>
                        <td title="'Subscription'" filter="{language.name: 'text'}" sortable="'language.name'">
                            <span class="editable-text">{{row.listed_end_date | date}}</span>
                        </td>

                    </tr>
                <!-- </tbody> -->
            </table>
          </form>
                        </div>

    </section>

    <div class="loading_div" ng-show='obj.loading'>
        <center><img class="loading_img" src="images/ocrloading.gif"></center>
    </div>
    </div>
