<ol class="breadcrumb">
  <li><a ui-sref="dashboard">Dashboard</a></li>
  <li class="active">Users</li>
</ol>
<div class="inventroybox" ng-init="getUsers()">
    <!-- Content Header (Page header) -->
    <div class="inventroy-head clearfix" ng-if="!obj.addSupplier">
        <div class="input-search">
            <input type="text" class="form-control" ng-model="obj.inventorysearch" placeholder="Search..." my-enter="getUsers('search')" />

        </div>
        <button class="btn btn-default" ng-click="getUsers()" ng-click="obj.addSupplier = true" style="float:left">Reset</button>
        <!-- <button class="btn btn-default" ng-click="obj.addSupplier = true"><b>+</b> Add New</button> -->
    </div>
    <!-- Main content -->
    <section class="content" ng-if="!obj.addSupplier">
      <div class="inventory-body clearfix table-responsive">
                            <form role="form" class="inventory-body clearfix table-responsive" ng-init="num_listitem = '10'">
                                <table id="example1" ng-table="tableParams" class="table table-condensed table-striped">

                                        <tr ng-repeat="row in $data | limitTo: num_listitem | filter: inventorysearch" ng-form="rowForm">
                                            <td title="'Name'" filter="{fullName: 'text'}" sortable="'fullName'">
                                                <span class="editable-text">{{row.fullName}}</span>
                                            </td>
                                            <td title="'Email'" filter="{email: 'text'}" sortable="'email'" >
                                                <span class="editable-text">{{row.email}}</span>
                                            </td>
                                            <td title="'Phone'" filter="{phoneNumber: 'text'}" sortable="'phoneNumber'">
                                                <span class="editable-text">{{row.phoneNumber || 'NA'}}</span>
                                            </td>
                                            <td title="'Language'" filter="{language.name: 'text'}" sortable="'language.name'">
                                                <span class="editable-text">{{row.language.name}}</span>
                                            </td>
                                            <td title="'Varified'">
                                                <span class="editable-text">{{row.verified}}</span>
                                            </td>
                                            <td>
                                                <button class="fa fa-toggle-on" aria-hidden="true" ng-click="changeStatus(row, false);" ng-if="row.status" title="Click to De-Active"></button>
                                                <button class="fa fa-toggle-off" aria-hidden="true" ng-click="changeStatus(row, true);" ng-if="!row.status" title="Click to Active"></button>
                                                <button class="fa fa-trash" aria-hidden="true" ng-click="del(row,$index)" title="Delete"></button>
                                            </td>
                                        </tr>
                                    <!-- </tbody> -->
                                </table>
                              </form>
                        </div>

    </section>

    <div class="loading_div" ng-show='obj.loading'>
        <center><img class="loading_img" src="images/ocrloading.gif"></center>
    </div>
    </div>
