<button class="rightfilter-btn btn" ng-click="rightbar_open()"><i class="flaticon-filter"></i></button>
<div class="rightside-menus" ng-slimscroll>
	<uib-accordion>

<!-- Store -->
	<div uib-accordion-group class="panel-default">
		<uib-accordion-heading>
			Store 
			<i class="pull-right fa" ng-class="{'fa-angle-down': status.open, 'fa-angle-right': !status.open}"></i>
		</uib-accordion-heading>
		<div class="input-checkbox">
			<input type="checkbox" id="store_1">
			<label for="store_1">
				All Star Truck Parts
			</label>
		</div>
		<div class="input-checkbox">
			<input type="checkbox" id="store_2">
			<label for="store_2">
				All Star Truck Parts
			</label>
		</div>
		<div class="input-checkbox">
			<input type="checkbox" id="store_3">
			<label for="store_3">
				Amazon - All Star Truck Parts
			</label>
		</div>
		<div class="input-checkbox">
			<input type="checkbox" id="store_4">
			<label for="store_4">
				GLOWORX
			</label>
		</div>
		<div class="input-checkbox">
			<input type="checkbox" id="store_5">
			<label for="store_5">
				Manual Orders
			</label>
		</div>
	</div>

<!-- Status -->

<div uib-accordion-group class="panel-default">
	<uib-accordion-heading>
		Status 
		<i class="pull-right fa" ng-class="{'fa-angle-down': status.open, 'fa-angle-right': !status.open}"></i>
	</uib-accordion-heading>
	<div class="input-checkbox">
		<input type="checkbox" id="status_1">
		<label for="status_1">
			Awaiting Payment
		</label>
	</div>
	<div class="input-checkbox">
		<input type="checkbox" id="status_2">
		<label for="status_2">
			Awaiting Fulfillment
		</label>
	</div>
	<div class="input-checkbox">
		<input type="checkbox" id="status_3">
		<label for="status_3">
			Awaiting Shipment
		</label>
	</div>
	<div class="input-checkbox">
		<input type="checkbox" id="status_4">
		<label for="status_4">
			Partially Shipped
		</label>
	</div>
 
</div>

<!-- Destination -->

<div uib-accordion-group class="panel-default">
	<uib-accordion-heading>
		Destination 
		<i class="pull-right fa" ng-class="{'fa-angle-down': status.open, 'fa-angle-right': !status.open}"></i>
	</uib-accordion-heading>
	<div class="input-checkbox">
		<input type="checkbox" id="dstination_1">
		<label for="dstination_1">
			Awaiting Payment
		</label>
	</div>
	<div class="input-checkbox">
		<input type="checkbox" id="dstination_2">
		<label for="dstination_2">
			Domestic (USA)
		</label>
	</div>
	<div class="input-checkbox">
		<input type="checkbox" id="dstination_3">
		<label for="dstination_3">
			 International
		</label>
	</div>
</div>

<!-- Status -->

<div uib-accordion-group class="panel-default">
	<uib-accordion-heading>
		Date Range 
		<i class="pull-right fa" ng-class="{'fa-angle-down': status.open, 'fa-angle-right': !status.open}"></i>
	</uib-accordion-heading>
	 <div class="form-group">
	 	<label>Start Date</label>
	 	<input type="text" class="form-control" />
	 </div>
     <div class="form-group">
	 	<label>End Date</label>
	 	<input type="text" class="form-control" />
	 </div>
     <div class="form-group">
	 	<button class="btn btn-default">Filter</button>
	 </div>
 
</div>

<!-- Age -->

<div uib-accordion-group class="panel-default">
	<uib-accordion-heading>
		Age
		<i class="pull-right fa" ng-class="{'fa-angle-down': status.open, 'fa-angle-right': !status.open}"></i>
	</uib-accordion-heading>
	  <div class="input-radio">
      	<input type="radio" name="age" id="age_all" />
        <label for="age_all">All</label>
      </div>
      <div class="input-radio">
      	<input type="radio" name="age" id="age_1" />
        <label for="age_1"> ≤ 1 hour</label>
      </div>
      <div class="input-radio">
      	<input type="radio" name="age" id="age_2" />
        <label for="age_2">≤ 12 hours</label>
      </div>
      <div class="input-radio">
      	<input type="radio" name="age" id="age_3" />
        <label for="age_3">≤ 24 hours</label>
      </div>
      <div class="input-radio">
      	<input type="radio" name="age" id="age_4" />
        <label for="age_4">24-48 hours</label>
      </div>
      <div class="input-radio">
      	<input type="radio" name="age" id="age_5" />
        <label for="age_5">≥ 48 hours</label>
      </div>
</div>

<!-- Zone -->

<div uib-accordion-group class="panel-default">
	<uib-accordion-heading>
		Zone
		<i class="pull-right fa" ng-class="{'fa-angle-down': status.open, 'fa-angle-right': !status.open}"></i>
	</uib-accordion-heading>
	  <div class="input-radio">
      	<input type="radio" name="zone" id="zone_0" />
        <label for="zone_0">Zone 1</label>
      </div>
      <div class="input-radio">
      	<input type="radio" name="zone" id="zone_1" />
        <label for="zone_1"> Zone 2</label>
      </div>
      <div class="input-radio">
      	<input type="radio" name="zone" id="zone_2" />
        <label for="zone_2">Zone 3</label>
      </div>
      <div class="input-radio">
      	<input type="radio" name="zone" id="zone_3" />
        <label for="zone_3">Zone 4</label>
      </div>
      <div class="input-radio">
      	<input type="radio" name="zone" id="zone_4" />
        <label for="zone_4">Zone 5</label>
      </div>
      <div class="input-radio">
      	<input type="radio" name="zone" id="zone_5" />
        <label for="zone_4">Zone 6</label>
      </div>
      <div class="input-radio">
      	<input type="radio" name="zone" id="zone_6" />
        <label for="zone_6">Zone 7</label>
      </div>
      <div class="input-radio">
      	<input type="radio" name="zone" id="zone_7" />
        <label for="zone_7">Zone 8</label>
      </div>
      <div class="input-radio">
      	<input type="radio" name="zone" id="zone_8" />
        <label for="zone_8">Zone 9</label>
      </div>
</div>

<!-- State -->

<div uib-accordion-group class="panel-default">
	<uib-accordion-heading>
		State
		<i class="pull-right fa" ng-class="{'fa-angle-down': status.open, 'fa-angle-right': !status.open}"></i>
	</uib-accordion-heading>
	   <input type="text" class="form-control" />
      
</div>

<!-- Address Type -->

<div uib-accordion-group class="panel-default">
	<uib-accordion-heading>
		Address Type
		<i class="pull-right fa" ng-class="{'fa-angle-down': status.open, 'fa-angle-right': !status.open}"></i>
	</uib-accordion-heading>
	<div class="input-checkbox">
		<input type="checkbox" id="addresstype_1">
		<label for="addresstype_1">
			International
		</label>
	</div>
	<div class="input-checkbox">
		<input type="checkbox" id="addresstype_2">
		<label for="addresstype_2">
			Military
		</label>
	</div>
	<div class="input-checkbox">
		<input type="checkbox" id="addresstype_3">
		<label for="addresstype_3">
			US Territory
		</label>
	</div>
    <div class="input-checkbox">
		<input type="checkbox" id="addresstype_3">
		<label for="addresstype_3">
			PO Box
		</label>
	</div>
    <div class="input-checkbox">
		<input type="checkbox" id="addresstype_4">
		<label for="addresstype_4">
			Residential
		</label>
	</div>
    <div class="input-checkbox">
		<input type="checkbox" id="addresstype_5">
		<label for="addresstype_5">
			Commercial
		</label>
	</div>
     <div class="input-checkbox">
		<input type="checkbox" id="addresstype_6">
		<label for="addresstype_6">
			Invalid Address
		</label>
	</div>
      
</div>

<!-- Weight -->

<div uib-accordion-group class="panel-default">
	<uib-accordion-heading>
		Weight
		<i class="pull-right fa" ng-class="{'fa-angle-down': status.open, 'fa-angle-right': !status.open}"></i>
	</uib-accordion-heading>
	  <div class="input-radio">
      	<input type="radio" name="weight" id="weight_0" />
        <label for="weight_0">All</label>
      </div>
      <div class="input-radio">
      	<input type="radio" name="weight" id="weight_1" />
        <label for="weight_1"> < 1lb</label>
      </div>
      <div class="input-radio">
      	<input type="radio" name="weight" id="weight_2" />
        <label for="weight_2">1lb - 3lb</label>
      </div>
      <div class="input-radio">
      	<input type="radio" name="weight" id="weight_3" />
        <label for="weight_3">≥ 3lb</label>
      </div>
      <div class="input-radio">
      	<input type="radio" name="weight" id="weight_4" />
        <label for="weight_4">≥ 5lb</label>
      </div>
      <div class="input-radio">
      	<input type="radio" name="weight" id="weight_5" />
        <label for="weight_4">≥ 10lb</label>
      </div>
      
</div>

<!-- Product SKU -->

<div uib-accordion-group class="panel-default">
	<uib-accordion-heading>
		Product SKU
		<i class="pull-right fa" ng-class="{'fa-angle-down': status.open, 'fa-angle-right': !status.open}"></i>
	</uib-accordion-heading>
	  <div class="">
      	<input type="text" class="form-control" placeholder="Select SKUs" />
      </div>
</div>

<!-- Product Tags -->

<div uib-accordion-group class="panel-default">
	<uib-accordion-heading>
		Product Tags
		<i class="pull-right fa" ng-class="{'fa-angle-down': status.open, 'fa-angle-right': !status.open}"></i>
	</uib-accordion-heading>
	  <div class="">
      	<input type="text" class="form-control" placeholder="Select Product Tags" />
      </div>
</div>

<!-- Custom Fields -->

<div uib-accordion-group class="panel-default">
	<uib-accordion-heading>
		Custom Fields
		<i class="pull-right fa" ng-class="{'fa-angle-down': status.open, 'fa-angle-right': !status.open}"></i>
	</uib-accordion-heading>
	  <div class="">
      <input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">
      <button class="btn btn-success mt-10" id="basic-addon2"><i class="flaticon-filter"></i></button>
    </div>
</div>

<!-- Quantity -->

<div uib-accordion-group class="panel-default">
	<uib-accordion-heading>
		Quantity
		<i class="pull-right fa" ng-class="{'fa-angle-down': status.open, 'fa-angle-right': !status.open}"></i>
	</uib-accordion-heading>
    <div class="input-checkbox">
	  <input type="checkbox" id="quty_1">
		<label for="quty_1">
			1
		</label>
	</div>
	<div class="input-checkbox">
		<input type="checkbox" id="quty_2">
		<label for="quty_2">
			2
		</label>
	</div>
	<div class="input-checkbox">
		<input type="checkbox" id="quty_3">
		<label for="quty_3">
			3
		</label>
	</div>
    <div class="input-checkbox">
		<input type="checkbox" id="quty_3">
		<label for="quty_3">
			4
		</label>
	</div>
    <div class="input-checkbox">
		<input type="checkbox" id="quty_4">
		<label for="quty_4">
			5
		</label>
	</div>
    <div class="input-checkbox">
		<input type="checkbox" id="quty_5">
		<label for="qutye_5">
			6
		</label>
	</div>
    <div class="input-checkbox">
		<input type="checkbox" id="quty_6">
		<label for="quty_6">
			7
		</label>
	</div>
    <div class="input-checkbox">
		<input type="checkbox" id="quty_6">
		<label for="quty_6">
			>7
		</label>
	</div>
</div>

<!-- Recipient -->

<div uib-accordion-group class="panel-default">
	<uib-accordion-heading>
		Recipient
		<i class="pull-right fa" ng-class="{'fa-angle-down': status.open, 'fa-angle-right': !status.open}"></i>
	</uib-accordion-heading>
    <div class="input-radio">
	  <input type="radio"  name="recipt" id="recpt_1">
		<label for="recpt_1">
			All
		</label>
	</div>
	<div class="input-radio">
		<input type="radio" name="recipt" id="recpt_2">
		<label for="recpt_2">
			Duplicates
		</label>
	</div> 
</div>

<!-- Rate Quote -->

<div uib-accordion-group class="panel-default">
	<uib-accordion-heading>
		Rate Quote
		<i class="pull-right fa" ng-class="{'fa-angle-down': status.open, 'fa-angle-right': !status.open}"></i>
	</uib-accordion-heading>
    <div class="input-radio">
	  <input type="radio" id="rq_1">
		<label for="rq_1">
			All
		</label>
	</div>
	<div class="input-radio">
		<input type="radio" id="rq_1">
		<label for="rq_1">
			With a rate quote
		</label>
	</div> 
</div>
 

<!-- Category -->

<div uib-accordion-group class="panel-default">
	<uib-accordion-heading>
		Category
		<i class="pull-right fa" ng-class="{'fa-angle-down': status.open, 'fa-angle-right': !status.open}"></i>
	</uib-accordion-heading>
    <div class="input-checkbox">
	  <input type="checkbox" id="catgry_1">
		<label for="catgry_1">
			Green
		</label>
	</div>
	<div class="input-checkbox">
		<input type="checkbox" id="catgry_2">
		<label for="catgry_2">
			Navy
		</label>
	</div>
    <div class="input-checkbox">
		<input type="checkbox" id="catgry_3">
		<label for="catgry_3">
			Pink
		</label>
	</div>
    
    <div class="input-checkbox">
		<input type="checkbox" id="catgry_4">
		<label for="catgry_4">
			Yellow
		</label>
	</div>
    <div class="input-checkbox">
		<input type="checkbox" id="catgry_5">
		<label for="catgry_5">
			Uncategorized
		</label>
	</div>
</div>

<!-- Order Tags -->

<div uib-accordion-group class="panel-default">
	<uib-accordion-heading>
		Order Tags
		<i class="pull-right fa" ng-class="{'fa-angle-down': status.open, 'fa-angle-right': !status.open}"></i>
	</uib-accordion-heading>
    <div class="">
	   <input type="text" class="form-control" />
	</div>
	 
</div>

<!-- Packing Slips -->

<div uib-accordion-group class="panel-default">
	<uib-accordion-heading>
		Packing Slip
		<i class="pull-right fa" ng-class="{'fa-angle-down': status.open, 'fa-angle-right': !status.open}"></i>
	</uib-accordion-heading>
	  <div class="input-radio">
      	<input type="radio" name="pack_slip" id="ps_0" />
        <label for="ps_0">All</label>
      </div>
      <div class="input-radio">
      	<input type="radio" name="pack_slip" id="ps_1" />
        <label for="ps_1">Printed</label>
      </div>
      <div class="input-radio">
      	<input type="radio" name="pack_slip" id="ps_2" />
        <label for="ps_2">Not Printed</label>
      </div>     
</div>

<!-- Notes -->

<div uib-accordion-group class="panel-default">
	<uib-accordion-heading>
		Notes
		<i class="pull-right fa" ng-class="{'fa-angle-down': status.open, 'fa-angle-right': !status.open}"></i>
	</uib-accordion-heading>
	  <div class="input-checkbox">
      	<input type="checkbox" id="note_0" />
        <label for="note_0">Customer</label>
      </div>
      <div class="input-checkbox">
      	<input type="checkbox" id="note_1" />
        <label for="note_1">Gift</label>
      </div>
      <div class="input-checkbox">
      	<input type="checkbox" id="note_2" />
        <label for="note_2">Internal</label>
      </div>     
</div>


</uib-accordion>
</div>