<aside class="sidebar" scope="" onload="">
<ul>
	<!-- <li  ui-sref-active="active"> -->
	 <li ng-class="{'active':checkState('dashboard')}">
		<a ui-sref="dashboard"><i class="sideicon flaticon-menu"></i><span>Dashboard</span></a>
	</li>
	<li >
	 <a href="dashboard#/users"><i class="sideicon flaticon-menu"></i><span>Users</span></a>
	</li>
	<li >
	 <a href="dashboard#/subscriptions"><i class="sideicon flaticon-menu"></i><span>Subscriptions</span></a>
	</li>
</ul>
</aside>
