<ol class="breadcrumb">
        <li>
            <a ui-sref="admin_dashboard">Dashboard</a>
        </li>
        <li class="active">Add Admin</li>

</ol>
<div>

    <div>
         <section class="content">
            <div class="panel">
                <div class="panel-body">

                   <form name="addAdminForm" novalidate>

                    <div class="form-horizontal">
                   <!--   <section ng-if="user.password=='no'"> -->
                      <!-- <div class="heading">
                      <label>Pricing Easy Profile Settings</label>
                      </div> -->

                      <div class="form-group">
                         <label class="col-lg-3 col-md-3 col-sm-5">USER NAME:</label>
                         <div class="col-lg-3 col-md-4 col-sm-5 input-group">
                        <input type="text" class="form-control" placeholder="Username" ng-model="newUser.username" name="username" ng-minlength="5" ng-maxlength="20" maxlength="20" required/>
                        <span style="color:red" ng-show="addAdminForm.username.$dirty && addAdminForm.username.$invalid">
                        <span ng-show="addAdminForm.username.$error.required">Username is required.</span>
                        <span ng-show="addAdminForm.username.$error.minlength">Username is too short.</span>
                        <span ng-show="addAdminForm.username.$error.maxlength">Username is too long.</span>
                        </span>
                         </div>
                      </div>

                      <div class="form-group">
                         <label class="col-lg-3 col-md-3 col-sm-5">EMAIL: </label>
                         <div class="col-lg-3 col-md-4 col-sm-5 input-group">
                          <input type="text" class="form-control" placeholder="Email" ng-model="newUser .email" name="email" required/>
                          <span style="color:red" ng-show="addAdminForm.email.$dirty && addAdminForm.email.$invalid"> 
                          <span ng-show="addAdminForm.email.$error.required">Email is required.</span>
                          <span ng-show="addAdminForm.email.$error.email">Invalid email address.</span>
                          </span>
                        </span>
                        </div>
                      </div>

                      <div class="form-group">
                         <label class="col-lg-3 col-md-3 col-sm-5">FIRST NAME:</label>
                         <div class="col-lg-3 col-md-4 col-sm-5 input-group">
                          <input type="text" class="form-control" placeholder="FirstName" ng-model="newUser .first_name" name="first_name"  ng-minlength="5" ng-maxlength="20"  maxlength="20" required/>
                          <span style="color:red" ng-show="addAdminForm.first_name.$dirty && addAdminForm.first_name.$invalid">
                        <span ng-show="addAdminForm.first_name.$error.required">First Name is required.</span>
                        <span ng-show="addAdminForm.first_name.$error.minlength">First Name is too short.</span>
                        <span ng-show="addAdminForm.first_name.$error.maxlength">First Name is too long.</span>
                        </span>
                        </div>
                        </div>

                      <div class="form-group">
                         <label class="col-lg-3 col-md-3 col-sm-5">LAST NAME:</label>
                         <div class="col-lg-3 col-md-4 col-sm-5 input-group">
                          <input type="text" class="form-control" placeholder="LastName" ng-model="newUser.last_name" name="last_name"  ng-minlength="4" ng-maxlength="20"  maxlength="20" required/>
                          <span style="color:red" ng-show="addAdminForm.last_name.$dirty && addAdminForm.last_name.$invalid">
                            <span ng-show="addAdminForm.last_name.$error.required">Last Name is required.</span>
                            <span ng-show="addAdminForm.last_name.$error.minlength">Last Name is too short.</span>
                            <span ng-show="addAdminForm.last_name.$error.maxlength">Last Name is too long.</span>
                          </span>
                         </div>
                      </div>
                    

                      <div class="form-group">
                        <label class="col-lg-3 col-md-3 col-sm-5">PASSWORD</label>
                        <div class="col-lg-3 col-md-4 col-sm-5 input-group">
                          <input type="password" class="form-control" placeholder="Your New Password" ng-model="newUser.password" minlength="6" maxlength="20" name="pass" required/>
                        <span style="color:red" ng-show="addAdminForm.pass.$dirty && addAdminForm.pass.$invalid">
                        <span ng-show="addAdminForm.pass.$error.required">New Password is required.</span>
                        </span>
                        </div>
                      </div>
                     
                    </div>
                   <button class="btn btn-primary" ng-click="addAdmin(newUser )" ng-disabled="addAdminForm.$invalid">Add Admin</button>

                   </form>
                </div>
            </div>
        </section>

        <div class="loading_div" ng-show='obj.loading'>
          <center><img class="loading_img" src="images/inprogress.gif"></center>
        </div>
    </div>
