<ol class="breadcrumb">
<li><a ui-sref="dashboard">Dashboard</a></li>
<li class="active">Admin List</li>
</ol>
<div ng-init="adminList();checkAdmin()">
<div class="inventroy-head clearfix">
<div class="input-search">
<input type="text" class="form-control" ng-model="obj.search" placeholder="Search..." my-enter="adminList('search')" />
</div>
<button class="btn btn-default" ng-click="adminList()" style="float:left">Reset</button>
<button class="btn btn-default" ng-show = "designation == 'SuperAdmin'" ui-sref="AddAdmin" ng-click="" <b>+</b> Add New</button>

</div>
<section>
<div class="inventory-body clearfix table-responsive">
<form class="inventory-body clearfix table-responsive" id="listForm" name="listForm" role="form">
<table class="table table-condensed table-striped" id="example2" ng-table="tableParams">
<tr ng-repeat="row in $data" ng-form="rowForm" demo-tracked-table-row="row">

<td title="'Username'" filter="{username: 'text'}" sortable="'username'">
  <span ng-if="!editMode">
    {{row.username}}  
  </span>
  <span>
    <input class="editable-input form-control input-sm" type="text" ng-if="editMode" ng-model="row.username" required>
  </span>
</td>

<td title="'Email'" filter="{email: 'text'}" sortable="'email'">
<span ng-if="!editMode">
  {{row.email}}
</span>
<span>
  <input class="editable-input form-control input-sm" type="text" ng-if="editMode" ng-model="row.email"  required>
</span>
</td>

<td title="'First Name'" filter="{first_name: 'text'}" sortable="'first_name'">
<span ng-if="!editMode">
  {{row.first_name}}
</span>
<span>
  <input class="editable-input form-control input-sm" type="text" ng-if="editMode" ng-model="row.first_name" required>
</span>
</td>

<td title="'Last Name'" filter="{last_name: 'text'}" sortable="'last_name'">
  <span ng-if="!editMode">
     {{row.last_name}}
  </span>
  <span>
     <input class="editable-input form-control input-sm" type="text" ng-if="editMode" ng-model="row.last_name" required>
  </span>
</td>




<td title="'Action'" width="8%">
<button class="fa fa-eye" aria-hidden="true"  ng-click="viewsubAdminDetails(row)" ng-hide="editMode"></button>

<button  class="fa fa-trash" ng-confirm-click="Are you sure you want to delete?" ng-click="deletesubAdmin(row)" title="Delete" ng-hide="editMode" ng-if="designation == 'SuperAdmin'"></button>

<button  class="fa fa-pencil" aria-hidden="true" ng-click="editMode = true" ng-hide="editMode" title="Edit" ></button>


<button  class="fa fa-check" aria-hidden="true" ng-show="editMode" ng-click="editMode=false;updatesubAdminInfo(row);" title="update"></button>



<button  class="fa fa-times" aria-hidden="true" ng-show="editMode" ng-click="editMode = false; cancelAdminlist()" title="cancel"></button>

</td>

</tr>


<tr ng-show="!$data.length">
<td class="text-center" colspan="11">
<div class="alert alert-danger" role="alert">
No Admin Available!!
</div>
</td>
</tr>

</tbody>
</table>
</form>

<!--- - - - - - - - -  End - - - - - - - - -  -->
</div>
</section>


<div class="loading_div" ng-show='obj.loading'>
<center><img class="loading_img" src="images/inprogress.gif"></center>
</div>
</div>
