<ol class="breadcrumb">
	<li><a ui-sref="admin_dashboard">Dashboard</a></li>
	<li class="active">AmazonShipping</li>
</ol>
<div ng-init="getAmazonShippingCredits()">
   <section>
		 <div class="inventory-body clearfix table-responsive">
     <form name="amazonShippingForm">
     <table class="table table-condensed table-striped">
        <thead>
           <th>Products</th>
           <th>Domestic Standard*</th>
           <th>Domestic Expedited*</th>
           <th>Domestic Two Day</th>
           <th>Domestic One Day</th>
           <th>International Standard</th>
           <th>International Expedited</th>
           <th>Action</th>
          <tbody>
            <tr ng-repeat="data in amazonData" ng-form="rowForm">
              <td>{{data.name}}</td>

              <td ng-if="data.Domestic_Standard.price">
              <span ng-if="!editMode">
              ${{data.Domestic_Standard.price}} + ${{data.Domestic_Standard.perlb}}/lb**
              </span>
              <input class="editable-input form-control input-sm" type="text" ng-if="editMode" ng-model="data.Domestic_Standard.price" valid-number required>
              <input class="editable-input form-control input-sm" type="text" ng-if="editMode" ng-model="data.Domestic_Standard.perlb" valid-number required>
              </td>

              <td ng-if="!data.Domestic_Standard.price">
              <span ng-if="!editMode">
              ${{data.Domestic_Standard}}
              </span>
              <input class="editable-input form-control input-sm" type="text" ng-if="editMode" ng-model="data.Domestic_Standard" valid-number required>
              </td>

              <td ng-if="!data.Domestic_Expedited.price">
              <span ng-if="!editMode">
              ${{data.Domestic_Expedited}}
              </span>
              <input class="editable-input form-control input-sm" type="text" ng-if="editMode" ng-model="data.Domestic_Expedited" valid-number required>
              </td>

              <td ng-if="data.Domestic_Expedited.price">
              <span ng-if="!editMode">
              ${{data.Domestic_Expedited.price}} +
              ${{data.Domestic_Expedited.perlb}}/lb**
              </span>
               <input class="editable-input form-control input-sm" type="text" ng-if="editMode" ng-model="data.Domestic_Expedited.price" valid-number required>
               <input class="editable-input form-control input-sm" type="text" ng-if="editMode" ng-model="data.Domestic_Expedited.perlb" valid-number required>
              </td>

              <td>
              <span ng-if="!editMode">
              	 ${{data.Domestic_Two_Day}}
              </span>
              <input class="editable-input form-control input-sm" type="text" ng-if="editMode" ng-model="data.Domestic_Two_Day" valid-number required>
              </td>

              <td>
              <span ng-if="!editMode">
              ${{data.Domestic_One_Day}}
              </span>
              <input class="editable-input form-control input-sm" type="text" ng-if="editMode" ng-model="data.Domestic_One_Day" valid-number required>
              </td>

              <td ng-if="data.International_Standard.Up_To_1_LB">
              <span ng-if="!editMode">
                  ${{data.International_Standard.Up_To_1_LB}} up to 1lb<br>
                  ${{data.International_Standard.Over_1_LB}} over 1lb
              </span>
              <input class="editable-input form-control input-sm" type="text" ng-if="editMode" ng-model="data.International_Standard.Up_To_1_LB" valid-number required>
              <input class="editable-input form-control input-sm" type="text" ng-if="editMode" ng-model="data.International_Standard.Over_1_LB" valid-number required>
              </td>

              <td ng-if="!data.International_Standard.Up_To_1_LB">
              <span ng-if="!editMode">
              	 ${{data.International_Standard}}<br>
              </span>
              <input class="editable-input form-control input-sm" type="text" ng-if="editMode" ng-model="data.International_Standard" valid-number required>
              </td>

              <td>
              <span ng-if="!editMode">
              ${{data.International_Expedited}}
              </span>
              <input class="editable-input form-control input-sm" type="text" ng-if="editMode" ng-model="data.International_Expedited" valid-number required>
              </td>

              <td><button class="fa fa-pencil" aria-hidden="true" ng-hide="editMode" ng-click="editMode=true;editRow(data)"></button>
              <button class="fa fa-check" aria-hidden="true" ng-show="editMode" ng-click="editMode = false;updateData(data)" class="btn btn-default" ng-disabled="rowForm.$pristine || rowForm.$invalid"></button>
              <button class="fa fa-times" aria-hidden="true" ng-show="editMode" ng-click="editMode = false; cancelAmazonShipping()" class="btn btn-default"></button>
              </td>
            </tr>
          </tbody>

        </thead>
     </table>
     </form>
  </div>


  </section>
</div>
