<ol class="breadcrumb">
  <li><a ui-sref="dashboard">Dashboard</a></li>
  <li class="active">AmazonReferralFee</li>
</ol>

<div ng-init="getAmazonReferralFee()">
  <div class="inventroy-head clearfix">
      <div class="input-search">
          <input type="text" class="form-control" ng-model="obj.search" placeholder="Search..." my-enter="getAmazonReferralFee('search')" />
      </div>
        <button class="btn btn-default" ng-click="getAmazonReferralFee()" style="float:left">Reset</button>
  </div>
<section>
  <div class="inventory-body clearfix table-responsive">
    <form class="inventory-body clearfix table-responsive" id="amazonreferralForm" name="amazonreferralForm" role="form">
      <table class="table table-condensed table-striped" id="example2" ng-table="tableParams">
        <tr ng-repeat="(key,row) in $data | filter: search" ng-form="rowForm" demo-tracked-table-row="row">


          <td title="'Product'" filter="{name: 'text'}" sortable="'name'">
              <span>{{row.name}}</span>
          </td>

          <td ng-if="evalType(row.referralFeePercentages)==true" title="'Referral Fee'">
              <span ng-if="!editMode" ng-repeat="info in row.referralFeePercentages">
                From: {{info.from | currency}}<br>
                Upto: {{info.upto | currency}}<br>
                Fee:  {{info.fee}}%
              </span>

              <span ng-if="editMode==true" ng-repeat ="info in row.referralFeePercentages">
                <input class="editable-input form-control input-sm" type="text" ng-if="editMode" ng-model="info.from" valid-number required>
                <input ng-disabled="!info.upto" class="editable-input form-control input-sm" type="text" ng-if="editMode" ng-model="info.upto" valid-number>
                <input class="editable-input form-control input-sm" type="text" ng-if="editMode" ng-model="info.fee" valid-number>
              </span required>
          </td>

          <td ng-if="evalType(row.referralFeePercentages)==false" title="'Referral Fee'">
              <span ng-if="!editMode">{{row.referralFeePercentages}}%</span>
              <input class="editable-input form-control input-sm" type="text" ng-if="editMode" ng-model="row.referralFeePercentages" valid-number>
          </td>

          <td title="'Minimum Fee'">
              <span ng-if="!editMode">{{row.minimumFee | currency}}</span>
              <input class="editable-input form-control input-sm" type="text" ng-if="editMode" ng-model="row.minimumFee" valid-number>
          </td>

          <td title="'Action'">
              <button class="fa fa-pencil" aria-hidden="true" ng-click="editMode = true;editReferral(row)" ng-hide="editMode"></button>
              <button class="fa fa-check" aria-hidden="true" ng-if="editMode" ng-click="editMode = false;updateReferralFee(row)" class="btn btn-default" ng-disabled="rowForm.$pristine || rowForm.$invalid"></button>
              <button class="fa fa-times" aria-hidden="true" ng-if="editMode" ng-click="editMode = false; cancelAmazonReferral()" class="btn btn-default"></button>
          </td>

      </tr>
   </tbody>
  </table>
  </form>
</div>
</section>
</div>
