<div ng-init = "checkAdmin()">

    <h1>Dashboard</h1>

    <div>
    		<div class="dashboard-wrap">
    			<div class="clearfix">
    		    	<div class="col-lg-3 col-md-6">
    		    	<div class="white-box clearfix">
    		        	<div class="pull-left text-success"><i class="flaticon-graph icon"></i></div>
    		            <div class="pull-right text-right">
    		            	<span>User</span>
    		                <h2>$5,126</h2>
    		            </div>
    		        </div>
    		    </div>
    		    	<div class="col-lg-3 col-md-6">
    		    	<div class="white-box clearfix">
    		        	<div class="pull-left text-blue"><i class="flaticon-percentage icon"></i></div>
    		            <div class="pull-right text-right">
    		            	<span>Sales Orders</span>
    		                <h2>$1,026</h2>
    		            </div>
    		        </div>
    		    </div>
    		    	<div class="col-lg-3 col-md-6">
    		    	<div class="white-box clearfix">
    		        	<div class="pull-left text-warning"><i class="flaticon-cash-machine icon"></i></div>
    		            <div class="pull-right text-right">
    		            	<span>Unit Sold</span>
    		                <h2>$5,126</h2>
    		            </div>
    		        </div>
    		    </div>
    		    	<div class="col-lg-3 col-md-6">
    			    	<div class="white-box clearfix">
    			        	<div class="pull-left text-danger"><i class="flaticon-warning icon"></i></div>
    			            <div class="pull-right text-right">
    			            	<span>Low Stock</span>
    			                <h2>$5,126</h2>
    			            </div>
    			        </div>
    		    	</div>
    		    </div>

    		    <div class="clearfix">
    		    	<div class="col-lg-6" ng-init = "ebayProfit = true;amazoneProfit = false;shopifyProfit = false;getEbayProfit()">
    		        	<div class="white-box clearfix">
    		            	<h3>Profit and Sales</h3>

    		            	<button class="btn btn-success" ng-hide = "ebayProfit" ng-click="ebayProfit = true;amazoneProfit = false;shopifyProfit = false;getEbayProfit()">eBay</button>

    		            	<button class="btn btn-success" ng-hide = "amazoneProfit" ng-click="amazoneProfit = true;ebayProfit = false;shopifyProfit = false;getAmazoneProfit()">Amazone</button>

    		            	<button class="btn btn-success" ng-hide = "shopifyProfit" ng-click="shopifyProfit = true;ebayProfit = false;amazoneProfit = false;getShopifyProfit()">Shopify</button>


    		                <div class="dashboardgraph">

    		<!-- ......................eBay Profit Table.................................... -->


    		                	<table ng-show = "ebayProfit" class="table table-fixed">
    											  <thead>
    											    <tr>
    											      <th class="col-xs-4">Email</th>
    											      <th class="col-xs-4 text-center">Total PO</th>
    											      <th class="col-xs-4">Catagory</th>
    											    </tr>
    											  </thead>
    											  <tbody>
    											    <tr ng-repeat = "row in ebayProfit">
    											      <td class="col-xs-4">{{row.email}}</td>
    											      <td class="col-xs-4 text-center">{{row.total_PO}}</td>
    											      <td class="col-xs-4">{{row.categories}}</td>
    											    </tr>
    											  </tbody>
    											</table>


    		<!-- ......................Amazone Profit Table.................................... -->


    											<table  ng-show = "amazoneProfit" class="table table-fixed">
    											  <thead>
    											    <tr>
    											      <th class="col-xs-4">Email</th>
    											      <th class="col-xs-4">Total PO</th>
    											      <th class="col-xs-4">Catagory</th>
    											    </tr>
    											  </thead>
    											  <tbody>
    											    <tr ng-repeat = "row in amazoneProfit">
    											      <td class="col-xs-4">{{row.email}}</td>
    											      <td class="col-xs-4">{{row.total_PO}}</td>
    											      <td class="col-xs-4">{{row.categories}}</td>
    											    </tr>
    											  </tbody>
    											</table>


    		<!-- ......................Shopify Profit Table.................................... -->


    											<table  ng-show = "shopifyProfit" class="table table-fixed">
    											  <thead>
    											    <tr>
    											      <th class="col-xs-4">Email</th>
    											      <th class="col-xs-4">Total PO</th>
    											      <th class="col-xs-4">Catagory</th>
    											    </tr>
    											  </thead>
    											  <tbody>
    											    <tr ng-repeat = "row in shopifyProfit">
    											      <td class="col-xs-4">{{row.email}}</td>
    											      <td class="col-xs-4">{{row.total_PO}}</td>
    											      <td class="col-xs-4">{{row.categories}}</td>
    											    </tr>
    											  </tbody>
    											</table>


    		                	<canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series"></canvas>
    		                </div>
    		            </div>
    		        </div>
    		       <div class="clearfix">
    		        <div class="col-lg-6" ng-init = "ebayInventory = true;amazoneInventory=false;shopifyInventory=false;getEbayInventory()">
    		        	<div class="white-box clearfix">
    		            	<h3>Listing Inventory</h3>

    		            	<button class="btn btn-success" ng-hide = "ebayInventory" ng-click="ebayInventory = true;amazoneInventory=false;shopifyInventory=false;getEbayInventory()">eBay</button>

    		            	<button class="btn btn-success" ng-hide = "amazoneInventory" ng-click="amazoneInventory = true;ebayInventory=false;shopifyInventory=false;getAmazoneInventory()">Amazone</button>

    		            	<button class="btn btn-success" ng-hide = "shopifyInventory" ng-click="shopifyInventory = true;amazoneInventory=false;ebayInventory=false;getShopifyInventory()">Shopify</button>

    		                <div class="dashboardgraph">


    		<!-- ......................eBay Inventory Table.................................... -->


    		                	<table ng-show = "ebayInventory" class="table table-fixed">
    											  <thead>
    											    <tr>
    											      <th class="col-xs-4">Item ID</th>
    											      <th class="col-xs-4">Title</th>
    											      <th class="col-xs-4">Quanity</th>
    											    </tr>
    											  </thead>
    											  <tbody>
    											    <tr ng-repeat = "row in inventory">
    											      <td class="col-xs-4">{{row.ItemID}}</td>
    											      <td class="col-xs-4">{{row.Title}}</td>
    											      <td class="col-xs-4">{{row.Quantity}}</td>
    											    </tr>
    											  </tbody>
    											</table>


    		<!-- ......................Amazone Inventory Table.................................... -->


    											<!-- <table  ng-show = "amazoneInventory" class="table table-fixed">
    											  <thead>
    											    <tr>
    											      <th class="col-xs-4">Item</th>
    											      <th class="col-xs-4">SKU</th>
    											      <th class="col-xs-4">Quanity</th>
    											    </tr>
    											  </thead>
    											  <tbody>
    											    <tr ng-repeat = "row in inventory">
    											      <td class="col-xs-4">{{row.item}}</td>
    											      <td class="col-xs-4">{{row.sku}}</td>
    											      <td class="col-xs-4">{{row.qty}}</td>
    											    </tr>
    											  </tbody>
    											</table>
 -->

    		<!-- ......................Shopify Inventory Table.................................... -->

<!--
    											<table  ng-show = "shopifyInventory" class="table table-fixed">
    											  <thead>
    											    <tr>
    											      <th class="col-xs-4">Title</th>
    											      <th class="col-xs-4">Vendor</th>
    											      <th class="col-xs-4">Product Type</th>
    											    </tr>
    											  </thead>
    											  <tbody>
    											    <tr ng-repeat = "row in inventory">
    											      <td class="col-xs-4">{{row.title}}</td>
    											      <td class="col-xs-4">{{row.vendor}}</td>
    											      <td class="col-xs-4">{{row.product_type}}</td>
    											    </tr>
    											  </tbody>
    											</table>

    		                	<canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series"></canvas>
    		                </div>
    		            </div>
    		        </div>
 -->

    							<!-- Chart Representation Of All Channels Orders -->

    					<!-- 	<div class="clearfix">
    		        	<div class="col-lg-6" ng-init = "ebay=true;amazoneChart=false;shopifyChart=false;getEbayCharts()">
    		        		<div class="white-box clearfix">
    		            	<h3>Sales And Profit Chart</h3>
    		            	<button class="btn btn-success" ng-hide = "ebayChart" ng-click="ebay=true;amazoneChart=false;shopifyChart=false;getEbayCharts()">eBay</button>
    		            	<button class="btn btn-success" ng-hide = "amazoneChart" ng-click="amazoneChart=true;ebayChart=false;shopifyChart=false;getAmazoneCharts()">Amazone</button>
    		            	<button class="btn btn-success" ng-hide = "shopifyChart" ng-click="shopifyChart=true;amazoneChart=false;ebayChart=false;getShopifyCharts()">Shopify</button>

    		              <div class="dashboardgraph">

    											<div ng-show = "ebayChart">
    												<canvas id="bar" class="chart chart-bar" chart-data="sales" chart-labels="labels" chart-series="series"></canvas>
    											</div>

    											<div ng-show = "amazoneChart">
    												<canvas id="bar" class="chart chart-bar" chart-data="shopifyChart" chart-labels="labels" chart-series="series"></canvas>
    											</div>

    											<div ng-show = "shopifyChart">
    												<canvas id="bar" class="chart chart-bar" chart-data = "sales" chart-labels="labels" chart-series="series"></canvas>
    											</div>
    		             	</div>
    								</div>
    							</div> -->

    							<!-- All Purchase Chart Dashboard Values -->

    						<!-- 	<div class="col-lg-6" ng-init = "getDashboardDetails()">
    			        	<div class="white-box clearfix" ng-repeat = "data in purchaseOrder">
    			            	<h3>Purchase Orders</h3>
    			                <div class="clearfix whitebox-midstrip">
    			                	<div class="col-sm-7 col-xs-6 purchaseorder text-left">
    			                    	<h2>${{data.total_purchase_order}}</h2>
    			                        <span>Total Purchase Orders</span>
    			                    </div>
    			                    <div class="col-sm-5 col-xs-6 text-left totalcost">
    			                    	<h2>${{data.total_cost}}</h2>
    			                        <span>Total Cost</span>
    			                    </div>
    			                </div>
    			                <div class="row">

    			                	<div class="text-center graystrip table-box">
    			                	<div class="cell-3">
    			                    	<label class="text-danger">Open Orders</label><br />${{data.open_orders}}
    			                    </div>
    			                    <div class="cell-3">
    			                    	<label class="text-success">Closed</label><br />
    														${{data.closed_orders}}
    			                    </div>
    			                    <div class="cell-3">
    			                    	<label class="text-blue">Unit Orders</label><br />
    														${{data.unit_orders}}
    			                    </div>
    			                    <div class="cell-3">
    			                    	<label class="text-warning">Unit Recieved</label><br />
    														${{data.unit_received}}
    			                    </div>
    			                </div>
    			               </div>
    			            </div>
    			        </div>
    			    </div> -->




    		<!-- 	<div class="clearfix">
    	        <div class="col-lg-12">
    	        	<div class="white-box clearfix">
    	            	<h3>Stock To Receive (Pending Purchase Orders)</h3>

    	                <div ng-init = "getPendingStock()">
    		                	<table ng-show = "pendingStockData" class="table table-striped">
     											  <thead>
     											    <tr>
    														<th>ID</th>
     											      <th class="col-xs-1">Amount Paid</th>
     											      <th class="col-xs-1">Categories</th>
     											      <th class="col-xs-1">Created On</th>
    														<th class="col-xs-1">Delievery Date</th>
    													  <th class="col-xs-1">Email</th>
    													  <th class="col-xs-1">Market Field</th>
    													  <th class="col-xs-1">Order Status</th>
    													  <th class="col-xs-1">Shipping Address</th>
    													  <th class="col-xs-1">Ship Via</th>
     											    </tr>
     											  </thead>

     											  <tbody>
     											    <tr ng-repeat = "row in pendingStockData">
    														<td class="col-xs-1" ng-bind="$index+1"></td>
     											      <td class="col-xs-1" ng-bind = "row.amount_paid"></td>
     											      <td class="col-xs-1"></td>
     											      <td class="col-xs-1" ng-bind = "row.createdOn"></td>
    														<td class="col-xs-1" ng-bind = "row.delievery_date"></td>
     											      <td class="col-xs-1" ng-bind = "row.email"></td>
     											      <td class="col-xs-1" ng-bind = "row.market_field"></td>
    														<td class="col-xs-1" ng-bind = "row.order_status"></td>
     											      <td class="col-xs-1"></td>
     											      <td class="col-xs-1" ng-bind = "row.ship_via"></td>
     											    </tr>
     											  </tbody>
    										</table>
    								</div>
    							</div>
    						</div> -->

    					<!--___________ End Of Pending Purchase Orders______________-->


    						<!-- <div class="col-sm-6">
    			        	<div class="white-box">
    			            	<h3>Inventory Stock on Hand by Supplier</h3>

    			                <div class="table-responsive" ng-init = "getInventoryStock()">
    			                	<table class="table table-striped table-condensed">
    			                    	<thead>
    		                        	<tr>
    		                            	<th>ID</th>
    		                              <th>Catagory</th>
    		                              <th class="text-center">Total Quantity</th>
    		                              <th>Average Unit Cost</th>
    		                              <th>Total value</th>
    		                           </tr>
    			                      </thead>
    			                  		<tbody>
    			                       	<tr ng-repeat="row in inventoryStock">
    		                            	<td ng-bind="$index+1"></td>
    																	<td ng-bind="row._id"></td>
    																	<td class="text-center" ng-bind = "row.Total_Quantity"></td>
    																	<td class="text-center" ng-bind="row.Unit_Cost"></td>
    		                              <td class="text-center" ng-bind="row.total_value.toFixed(2)"></td>
    			                        </tr>
    			                      </tbody>
    			                   </table>
    			                </div>
    			            </div>
    			        </div>
    				</div>


    		    <div class="clearfix">
    		    	<div class="col-sm-6">
    		        	<div class="white-box">
    		            	<h3>
    		                	Low Stocks
    		                </h3>

    		                <div class="table-responsive" ng-init = "getLowStock()">
    		                	<table class="table table-striped table-condensed">
    		                    	<thead>
    		                        	<tr>
    		                            	<th>ID</th>
    		                                <th>Catagory</th>
    		                                <th class="text-center">Description</th>
    		                                <th>Quantity</th>
    		                                <th>WareHouse Quantity</th>
    		                            </tr>
    		                        </thead>
    		                        <tbody>
    		                        	<tr ng-repeat="row in lowStock">
    		                            	<td ng-bind="$index+1"></td>
    																	<td class="text-center" ng-bind="row.category"></td>
    																	<td class="text-center" ng-bind="row.description"></td>
    																	<td class="text-center" ng-bind="row.qty"></td>
    		                              <td class="text-center" ng-bind="row.totalValue"></td>

    		                            </tr>
    		                        </tbody>
    		                    </table>
    		                </div>
    		            </div>
    		        </div>
    		        <div class="col-sm-6">
    		        	<div class="white-box">
    		            	<h3>
    		                	PAst Due Orders
    		                </h3>

    		                <div class="table-responsive">
    		                	<table class="table table-striped table-condensed">
    		                    	<thead>
    		                        	<tr>
    		                            	<th>ID</th>
    		                                <th>Varient</th>
    		                                <th class="text-center">Thrashold</th>
    		                                <th>Avilable</th>
    		                                <th>Awaiting</th>
    		                            </tr>
    		                        </thead>
    		                        <tbody>
    		                        	<tr ng-repeat="item in lowstock">
    		                            	<td ng-bind="$index+1"></td>
    		                                <td ng-bind="item.varient"></td>
    		                                <td class="text-center" ng-bind="item.thrashold"></td>
    		                                <td class="text-center" ng-bind="item.avilable"></td>
    		                                <td class="text-center" ng-bind="item.awaiting"></td>
    		                            </tr>
    		                        </tbody>
    		                    </table>
    		                </div>
    		            </div>
    		        </div>
    		    </div>
    		</div> -->
    		<!-- <div class="loading_div" ng-show='obj.loading'>
            <center><img class="loading_img" src="images/inprogress.gif"></center>
        </div> -->
      </div>
    </div>
  </div>
</div>
