<ol class="breadcrumb">
	<li><a ui-sref="admin_dashboard">Dashboard</a></li>
	<li class="active">ebayUpgradeFees</li>
</ol>

<div >
<section>
	<div class="inventory-body clearfix table-responsive">
  <form name="ebayUpgradeFeesForm" novalidate>
  <table class="table table-condensed table-striped">
   <thead>
   	 <th>Name</th>
   	 <th>Under 150</th>
     <th>Above 150</th>
   </thead>
   <tbody>
      <tr ng-repeat="data in ebayUpgradeFeesData" ng-form="rowForm" >
        <td>
        <span>
        {{data.name}}
        </span>
        </td>
        <td>
        <span ng-if="!editMode">
         Duration_3 days:{{data.under150.duration1_3days | currency}}<br>
         Duration_30 days :{{data.under150.duration_30days | currency}}
        </span>
        <span>
        <input class="editable-input form-control input-sm" type="number" ng-if="editMode" ng-model="data.under150.duration1_3days" required>
        <input class="editable-input form-control input-sm" type="number" ng-if="editMode" ng-model="data.under150.duration_30days" required>
        </span>
        </td>
        <td>
        <span ng-if="!editMode">
         Duration_3 days : {{data.outer150.duration1_3days | currency}}<br>
         Duration_30 days :{{data.outer150.duration_30days | currency}}
        </span>
        <span>
        <input class="editable-input form-control input-sm" type="number" ng-if="editMode" ng-model="data.outer150.duration1_3days" required>
        <input class="editable-input form-control input-sm" type="number" ng-if="editMode" ng-model="data.outer150.duration_30days" required>
        </span>
        </td>
        <td>
        <button class="fa fa-pencil" aria-hidden="true" ng-click="editMode = true" ng-hide="editMode"></button>
      <button class="fa fa-check" aria-hidden="true" ng-show="editMode" ng-click="editMode = false;updateEbayUpgradeFee(data)" ng-disabled="rowForm.$pristine || rowForm.$invalid"></button>
        <button class="fa fa-times" aria-hidden="true" ng-click="editMode = false; cancelUpgradeFees()" ng-show="editMode"></button>
        </td>
      </tr>
   </tbody>
  </table>
  </form>
</div>
</section>
</div>
