<ol class="breadcrumb">
	<li><a ui-sref="admin_dashboard">Dashboard</a></li>
	<li class="active">ebayFees</li>
</ol>

<div ng-init="getebayFees()">
<section>
	<div class="inventory-body clearfix table-responsive">
  <form name="ebayFeesForm">
  <table class="table table-condensed table-striped">
   <thead>
   	 <th>Categories</th>
   	 <th>Fees</th>
   </thead>
   <tbody>
      <tr ng-repeat="data in ebayFeesData" ng-form="rowForm">
        <td>
        <span>
        {{data.category}}
        </span>
        </td>

        <td>
        <span ng-if="!editMode">
        {{data.fees}}%
        </span>
        <span>
        <input class="editable-input form-control input-sm" type="text" ng-if="editMode" ng-model="data.fees" valid-number required>
        </span>
        </td>
        <td>
        <button class="fa fa-pencil" aria-hidden="true" ng-click="editMode = true" ng-hide="editMode"></button>
        <button class="fa fa-check" aria-hidden="true" ng-show="editMode" ng-click="editMode = false;updateEbayFee(data)" ng-disabled="rowForm.$pristine || rowForm.$invalid"></button>
        <button class="fa fa-times" aria-hidden="true" ng-click="editMode = false; cancelebayFees()" ng-show="editMode"></button>
        </td>
      </tr>
   </tbody>
  </table>
</div>
</section>
</div>
