<div class="loginform">
  <h3>SIGN IN</h3>
  <div class="loginform-in">
  <form name="adminForm">
      <div class="form-group">
        <input type="email" name="email" class="form-control" placeholder="Username" ng-model="admin.username" required/>
       <!--  <span class="erMsg" ng-show="adminForm.email.$dirty && adminForm.email.$invalid">
        <span ng-show="adminForm.email.$error.required">Email is required.</span>
        <span ng-show="adminForm.email.$error.email">Invalid email address.</span>
        </span> -->
      </div>
      <div class="form-group">
          <input type="password" name="password" class="form-control" placeholder="Password" ng-model="admin.password" ng-minlength="6" ng-maxlength="15" required/>
      <!--     <span class="erMsg" ng-show="adminForm.password.$dirty && adminForm.password.$invalid">
          <span ng-show="adminForm.password.$error.required">Password is required.</span>
          <span ng-show="adminForm.password.$error.minlength">Password is too short.</span>
          </span> -->
         
         
      </div>
      <div class="form-group loginbtnwrap">
          <button  class="btn btn-success uppercase" ng-click="adminLogin(admin)">Sign IN</button>
      </div>
      <div class="forgetpassword text-center"><a ui-sref="forgotPassword">Forgot Password?</a></div> 
   <div class="text-center">
    <input type="checkbox" name="remember" ng-checked="remember" ng-model="remember"> &nbsp; Remember Me 
      </div>
      </form>
  </div>
</div>