
<div>

    <div>
         <section class="content"><ol class="breadcrumb">
        <li>
            <a ui-sref="admin_dashboard">Dashboard</a>
        </li>
        <li class="active">Profile</li>

</ol>

<div>
  <div>
     <section class="content">
        <div class="panel" ng-init="userDetails()">
          <div class="panel-body">
             <form name="profileForm" novalidate>
                <div class="form-horizontal">
                   <!--   <section ng-if="profile.password=='no'"> -->
                      <!-- <div class="heading">
                      <label>Pricing Easy Profile Settings</label>
                      </div> -->
                      <div class="form-group">
                          <label class="col-lg-3 col-md-3 col-sm-5">USER NAME:</label>
                          <div class="col-lg-3 col-md-4 col-sm-5 input-group">
                          <input type="text" class="form-control" placeholder="Username" ng-model="profile.username" name="username" ng-minlength="3" ng-maxlength="20"  maxlength="20" required/>
                          <span style="color:red" ng-show="profileForm.username.$dirty && profileForm.username.$invalid">
                          <span ng-show="profileForm.username.$error.required">Username is required.</span>
                          <span ng-show="profileForm.username.$error.minlength">Username is too short.</span>
                          <span ng-show="profileForm.username.$error.maxlength">Username is too long.</span>
                          </span>
                      </div>
                </div>

                <div class="form-group">
                      <label class="col-lg-3 col-md-3 col-sm-5">EMAIL:</label>
                      <div class="col-lg-3 col-md-4 col-sm-5 input-group">
                      <input type="text" class="form-control" placeholder="Email" ng-model="profile.email" name="email" disabled required/>
                      <!--   <span style="color:red" ng-show="profileForm.email.$dirty && profileForm.email.$invalid"> -->
                      <!--  <span ng-show="profileForm.email.$error.required">Email is required.</span>
                      <span ng-show="profileForm.email.$error.email">Invalid email address.</span>
                      </span> -->
                      <!--  </span> -->
                      </div>
                </div>
                <div class="form-group">
                     <label class="col-lg-3 col-md-3 col-sm-5">FIRST NAME:</label>
                     <div class="col-lg-3 col-md-4 col-sm-5 input-group">
                     <input type="text" class="form-control" placeholder="FirstName" ng-model="profile.first_name" name="first_name"  ng-minlength="3" ng-maxlength="20" maxlength="20" required/>
                     <span style="color:red" ng-show="profileForm.firstname.$dirty && profileForm.firstname.$invalid">
                     <span ng-show="profileForm.first_name.$error.required">First Name is required.</span>
                     <span ng-show="profileForm.first_name.$error.minlength">First Name is too short.</span>
                     <span ng-show="profileForm.first_name.$error.maxlength">First Name is too long.</span>
                     </span>
                </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 col-md-3 col-sm-5">LAST NAME:</label>
                 <div class="col-lg-3 col-md-4 col-sm-5 input-group">
                    <input type="text" class="form-control" placeholder="LastName" ng-model="profile.last_name" name="lastname"  ng-minlength="3" ng-maxlength="20" maxlength="20" required/>
                    <span style="color:red" ng-show="profileForm.last_name.$dirty && profileForm.lastname.$invalid">
                    <span ng-show="profileForm.last_name.$error.required">Last Name is required.</span>
                    <span ng-show="profileForm.last_name.$error.minlength">Last Name is too short.</span>
                    <span ng-show="profileForm.last_name.$error.maxlength">Last Name is too long.</span>
                    </span>
                 </div>
            </div>
                <br><br>

                      <div class="form-group">
                        <label class="col-lg-3 col-md-3 col-sm-5">Want to change password?</label>
                        <div class="col-lg-3 col-md-4 col-sm-5">
                        <input type="radio" name="pass" value="yes" ng-model="profile.password">Yes<br>
                        <input type="radio" name="pass" value="no" ng-model="profile.password" checked>No
                        </div>
                      </div>

                     <!--  </section> -->
                    <section ng-if="profile.password=='yes'">
                      <div class="form-group">
                        <label class="col-lg-3 col-md-3 col-sm-5">CURRENT PASSWORD</label>
                        <div class="col-lg-3 col-md-4 col-sm-5 input-group">
                          <input type="password" class="form-control" placeholder="Your Password" ng-model="profile.current_password" name="curr_pass" required/>
                        <span style="color:red" ng-show="profileForm.curr_pass.$dirty && profileForm.curr_pass.$invalid">
                        <span ng-show="profileForm.curr_pass.$error.required">Current Password is required.</span>
                        </span>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-lg-3 col-md-3 col-sm-5">NEW PASSWORD</label>
                        <div class="col-lg-3 col-md-4 col-sm-5 input-group">
                          <input type="password" class="form-control" placeholder="Your New Password" ng-model="profile.new_password" minlength="6" maxlength="20" name="new_pass" required/>
                        <span style="color:red" ng-show="profileForm.new_pass.$dirty && profileForm.new_pass.$invalid">
                        <span ng-show="profileForm.new_pass.$error.required">New Password is required.</span>
                        </span>


                        </div>
                      </div>
                    </section>

                    </div>
                   <button class="btn btn-primary" ng-click="updateAdminUserInfo(profile)" ng-disabled="profileForm.$invalid||profileForm.$pristine">Update</button>

                   </form>
                </div>
            </div>
        </section>

        <div class="loading_div" ng-show='obj.loading'>
            <center><img class="loading_img" src="images/inprogress.gif"></center>
        </div>
    </div>
</div>
