<ol class="breadcrumb">
	<li><a ui-sref="admin_dashboard">Dashboard</a></li>
	<li class="active">Subscriptions</li>
</ol>
<div ng-init="getSubscriptionDetails()">
 <section>
	 	<div class="inventory-body clearfix table-responsive">
    <form name="subscriptionForm">
  <table class="table table-condensed table-striped">
  <thead>
           <th width="10%">Plan Name</th>
           <th width="10%">Price per month</th>
           <th width="10%">OrderLimit</th>
           <th width="10%">Action</th>
   </thead>
   <tbody>
           <tr ng-repeat="data in subscriptionData" ng-form="rowForm">
           <td width="10%">
           <span ng-if="!editMode">
           {{data.plan_name}}
           </span>
           <input class="editable-input form-control input-sm" type="text" ng-if="editMode" ng-model="data.plan_name" required>
           </td>
           <td width="10%">
           <span ng-if="!editMode">
           {{data.subscription_price | currency}}
           </span>
           <input class="editable-input form-control input-sm" type="text" ng-if="editMode" ng-model="data.subscription_price" required>
           </td>
           <td width="10%">
           <span ng-if="!editMode">
           {{data.order_limit}}
           </span>
           <input class="editable-input form-control input-sm" type="text" ng-if="editMode" ng-model="data.order_limit" required>
           </td>
       <!--     <td width="10%">
           <span ng-hide="editMode">
          {{data.maximum_selling_channel}}
          </span>
          <input class="editable-input form-control input-sm" type="text" ng-show="editMode" ng-model="data.maximum_selling_channel" required>
          </td> -->
           <td><button class="fa fa-pencil" aria-hidden="true" title="Edit" ng-hide="editMode" ng-click="editMode=true"></button>
           <button class="fa fa-check" aria-hidden="true" ng-show="editMode" ng-click="editMode = false;editPlan(data)" class="btn btn-default" ng-disabled="rowForm.$pristine || rowForm.$invalid"></button>
           <button class="fa fa-times" aria-hidden="true" ng-show="editMode" ng-click="editMode = false; cancelSubscription()" class="btn btn-default"></button></td>
           </tr>
   </tbody>
 </table>
 </div>     
 </section>
</div>
