<ol class="breadcrumb">
	<li><a ui-sref="admin_dashboard">Dashboard</a></li>
	<li class="active">User</li>
</ol>
<div ng-init="getAllUsers()">
	<div class="inventroy-head clearfix">
    	<div class="input-search">
        	<input type="text" class="form-control" ng-model="obj.search" placeholder="Search..." my-enter="getAllUsers('search')" />
      </div>
				<button class="btn btn-default" ng-click="getAllUsers()" style="float:left">Reset</button>
				
        <button ng-click="exportFile()" class="btn btn-default"><i class="flaticon-export"></i> Export </button>
  </div>
  <section>
     <div class="inventory-body clearfix table-responsive">



			 <!-- 												DIkshit User Modal View
			  															3rd June 2017                              -->
       <form class="inventory-body clearfix table-responsive" id="listForm" name="listForm" role="form">
            <table class="table table-condensed table-striped" id="example2" ng-table="tableParams">
								<tr ng-repeat="(key,row) in $data | filter: search" ng-form="rowForm" demo-tracked-table-row="row">
	 	 									<td title="'Username'" filter="{username: 'text'}" sortable="'username'">
	 	 												<span>{{row.username}}</span>
	 	 										</td>

	 	 										<td title="'Email'" filter="{email: 'text'}" sortable="'email'">
	 	 												<span>{{row.email}}</span>
												</td>

												<td title="'Role'" filter="{role: 'text'}" sortable="'role'">
	 	 												<span>{{row.role}}</span>
	 	 										</td>

												<td title="'Status'" filter="{status: 'text'}" sortable="'status'">

													<div class="btn">
												    <button ng-show = "row.status == 'active'" class="btn btn-xs btn-primary active" ng-click = "changeStatus(row)">active</button>
												    <button ng-show = "row.status == 'deactive'" class="btn btn-xs btn-primary active" ng-click = "changeStatus(row)">deactive</button>
												  </div>
												</td>


												<td title="'Action'" width="8%">
													<button class="fa fa-eye" aria-hidden="true"  ng-click="viewDetails(row)"></button>
													<button class="fa fa-trash" ng-confirm-click="Are you sure you want to delete?" ng-click="deleteUser(row)" title="Delete"></button>
												</td>

								</tr>


	                <tr ng-show="!$data.length">
	                  <td class="text-center" colspan="11">
	                     <div class="alert alert-danger" role="alert">
	                          No Seller Available!!
	                     </div>
	                  </td>
	               </tr>
	      			</tbody>
          </table>
       </form>

			 	<!--- - - - - - - - -  End - - - - - - - - -  -->
     </div>
  </section>


	<div class="loading_div" ng-show='obj.loading'>
		<center><img class="loading_img" src="images/inprogress.gif"></center>
	</div>
</div>
